@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url('AvenirNextCyr-Bold.eot');
  src: url('AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
       url('AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg'),
       url('AvenirNextCyr-Bold.ttf') format('truetype'),
       url('AvenirNextCyr-Bold.woff') format('woff'),
       url('AvenirNextCyr-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

