.bvi-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.bvi-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.bvi-xs {
  font-size: .75em !important; }

.bvi-sm {
  font-size: .875em !important; }

.bvi-1x {
  font-size: 1em !important; }

.bvi-2x {
  font-size: 2em !important; }

.bvi-3x {
  font-size: 3em !important; }

.bvi-4x {
  font-size: 4em !important; }

.bvi-5x {
  font-size: 5em !important; }

.bvi-6x {
  font-size: 6em !important; }

.bvi-7x {
  font-size: 7em !important; }

.bvi-8x {
  font-size: 8em !important; }

.bvi-9x {
  font-size: 9em !important; }

.bvi-10x {
  font-size: 10em !important; }

.bvi-font:before {
  content: "\f031"; }

.bvi-plus:before {
  content: "\f067"; }

.bvi-minus:before {
  content: "\f068"; }

.bvi-circle:before {
  content: "\f111"; }

.bvi-circle-notch:before {
  content: "\f1ce"; }

.bvi-adjust:before {
  content: "\f042"; }

.bvi-volume-up:before {
  content: "\f028"; }

.bvi-volume-off:before {
  content: "\f026"; }

.bvi-cogs:before {
  content: "\f085"; }

.bvi-low-vision:before {
  content: "\f2a8"; }

.bvi-chevron-circle-up:before {
  content: "\f139"; }

.bvi-eye:before {
  content: "\f06e"; }

.bvi-sync-alt:before {
  content: "\f2f1"; }

.bvi-times-circle:before {
  content: "\f057"; }

.bvi-bolt:before {
  content: "\f0e7"; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../fonts/bvi/fa-solid-900.eot");
  src: url("../fonts/bvi/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/bvi/fa-solid-900.woff2") format("woff2"), url("../fonts/bvi/fa-solid-900.woff") format("woff"), url("../fonts/bvi/fa-solid-900.ttf") format("truetype"); }

.bvi-icon {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }
