@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('AvenirNextCyr-Regular.eot');
  src: url('AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
       url('AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg'),
       url('AvenirNextCyr-Regular.ttf') format('truetype'),
       url('AvenirNextCyr-Regular.woff') format('woff'),
       url('AvenirNextCyr-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

