<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Лечение</li>
                    </ol>
                </nav>
                <h1>h1. Программа Стандарт</h1>
            </div>
        </div>
    </div>
</div>
