<footer>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="footer-defense">
                    <img src="images/ministry.png" alt="">
                    Министерство обороны РФ
                </div>
                <div class="footer-logo">
                    <div class="footer-logo__title">Санаторно-курортный комплекс</div>
                    <div class="footer-logo__description">Северокавказский</div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-16 col-md-14">
                <div class="footer-filial">
                    <div class="footer-filial__left">
                        <span>Филиал в Кисловодске</span>
                        <span>Официальный сайт</span>
                    </div>
                    <div class="footer-filial__right">
                        <a href="tel:78005554633" class="footer-phone">+7 (800) 555-46-33</a>
                        <div class="footer-contact">Контакты</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-24 mt-4 mt-xl-0 flex justify-content-center">
                <div class="footer-bottom">
                    <a href="#" class="btn btn-light btn-footer__light">Бронирование льготной путёвки</a>
                    <a href="#" class="btn btn-heavy btn-footer__heavy">Бронирование путёвки по полной стоимости </a>
                </div>
            </div>
        </div>
        <div class="row mt-xl-2 mt-4 hidden-sm-down">
            <div class="col-lg-7">
                <div class="footer-street">
                    Ставропольский край, г. Кисловодск, пр. <br> Дзержинского, 16.
                </div>
                <div class="footer-widget">
                    <img src="images/widget.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-15 offset-lg-1 flex justify-content-between mt-4 mt-lg-0">
                <nav class="footer-menu">
                    <ul class="footer-menu__items">
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link footer-menu__link-big">О санатории</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Галерея</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Отзывы</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Новости</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Документы</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Информация</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-menu">
                    <ul class="footer-menu__items">
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link footer-menu__link-big">Лечение</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Программы   </a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Профили лечения</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Процедуры</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Врачи</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-menu">
                    <ul class="footer-menu__items">
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link footer-menu__link-big">SPA</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Бассейн  </a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">SPA-процедуры</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Цены на SPA</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-menu">
                    <ul class="footer-menu__items">
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link footer-menu__link-big">Проживание</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link footer-menu__link-big">Питание</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link footer-menu__link-big">Цены</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link footer-menu__link-big">Досуг</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row mt-4 align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="licensing-text">
                    Лицензия от 17.04.2019 г. <br> № ФС-82-01-000131
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <a href="#" class="footer-link">Пользовательское соглашение</a>
                <a href="#" class="footer-link">Политика конфиденциальности</a>
            </div>
            <div class="col-lg-6 col-md-12 mt-4 mt-lg-0">
                <form action="#" class="footer-form">
                    <input type="text" placeholder="Поиск по сайту" class="footer-form__input">
                    <input type="submit" class="footer-submit btn-heavy" value="Найти">
                </form>
            </div>
            <div class="col-lg-7 col-md-12 mt-4 mt-lg-0">
                <div class="russian">
                    <div class="russian-pic">
                        <img src="images/rf.jpg" alt="">
                    </div>
                    <div class="russian-text">
                        НЕЗАВИСИМАЯ ОЦЕНКА КАЧЕСТВА  МЕДИЦИНСКОЙ ОРГАНИЗАЦИИ
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mt-lg-5">
            <div class="col-24 flex justify-content-between flex-column flex-md-row">
                <div>© Санаторно-курортный комплекс «Северокавказский» Министерства </div>
                <div class="mt-4 mt-md-0">
                    Разработка сайта — <a href="#">WEBELEMENT</a>
                </div>
            </div>
        </div>
        <div class="row mt-4 mt-lg-5">
            <div class="col-24">
                <div class="contraindications">
                    ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА.
                </div>
            </div>
        </div>
    </div>
</footer>