<header>
    <div class="header-top">
        <div class="header-container">
            <div class="header-container__left">
                <div class="ministry">
                    <div class="ministry-img">
                        <img src="images/ministry.png" alt="">
                    </div>
                    <div class="ministry-title">
                        Министерство обороны РФ
                    </div>
                </div>
                <a href="#" class="home-link">
                    <span class="icon-home-page"></span>
                    <span class="home-link__hint">Переход на главную</span>
                </a>
                <div class="branch-container">
                    <div class="branch-label">
                        Выберите филиал:
                    </div>
                    <div class="branch-select">
                        <div class="branch-select__default">
                            <span>Кисловодский</span>
                        </div>
                        <div class="branch-select__items-hidden">
                            <div class="branch-select__items">
                                <a href="#" class="branch-select__item active">Кисловодск</a>
                                <a href="#" class="branch-select__item">Пятигорск</a>
                                <a href="#" class="branch-select__item">Ессентуки</a>
                                <a href="#" class="branch-select__item">Пятигорск. Детский санаторий</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-container__right">
                <a href="#" class="header-questions header-link__container">
                   <span class="icon-icons8-ask-question-96 icons-header">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                    </span>
                    <span class="header-link__text">Часть задаваемые вопросы</span>
                </a>
                <a href="#" class="header-reviews header-link__container">
                    <span class="icon-text-quotes icons-header"></span>
                    <span class="header-link__text">Отзывы</span>
                </a>
                <a href="#" class="header-see header-link__container bvi-open">
                    <span class="icon-icons8-eye-96 icons-header"></span>
                    <span class="header-link__text">Версия для слабовидящих</span>
                </a>
            </div>
        </div>
    </div>
    <div class="header-info">
        <div class="header-container">
            <div class="header-container__left align-items-end">
                <a href="#" class="header-logo">
                    <span class="header-logo__pic">
                        <span class="icon--2">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                                class="path4"></span><span class="path5"></span><span class="path6"></span><span
                                class="path7"></span><span class="path8"></span><span class="path9"></span><span
                                class="path10"></span><span class="path11"></span><span class="path12"></span><span
                                class="path13"></span><span class="path14"></span><span class="path15"></span><span
                                class="path16"></span>
                         </span>
                    </span>
                    <span class="header-logo__text">
                        <span class="header-logo__title">Санаторно-курортный комплекс</span>
                        <span class="header-logo__description">Северокавказский</span>
                    </span>
                </a>
                <div class="official">
                    Официальный сайт
                </div>
            </div>
            <div class="header-container__right">
                <div class="header-phone">
                    <a href="tel:79064981853" class="header-phone__link">+7 (906) 498-18-53</a>
                    <div class="header-filial">Филиал в Кисловодске</div>
                </div>
                <a href="#" class="header-btn btn-booking btn-light btn">Бронирование льготной путёвки</a>
                <a href="#" class="header-btn btn-booking__price btn-heavy btn">Бронирование путёвки по полной
                    стоимости </a>
            </div>
        </div>
    </div>
    <div class="header-armor">
        <div class="header-armor__container">
            <div class="header-armor__text">
                <div class="header-armor__title">Бронирование путёвок</div>
                <div class="header-armor__description">по  полной коммерческой стоимости</div>
            </div>
            <form action="#" class="header-form">
                <div class="header-data" id="date-container">
                    <input type="text" placeholder="Заезд" id="date" class="cost-form__item-name" autocomplete="off">
                </div>
                <div class="arrow-form">
                    <span class="icon-two_Arrow_941551"></span>
                </div>
                <div class="header-data" id="date-container__2">
                    <input type="text" placeholder="Выезд" id="date_2" class="cost-form__item-name" autocomplete="off">
                </div>
                <div class="header-select__container">
                    <div class="header-select__container-text">
                        Гости
                    </div>
                    <select class="select-container">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="header-sbm">
                    <input type="submit" class="header-sbm__btn btn btn-light" value="Найти">
                </div>
            </form>
        </div>
    </div>
    <div class="header-menu__container">
        <nav class="header-container" id="menu">
            <ul class="header-menu__items" >
                <li class="header-menu__item header-menu__item-submenu">
                    <a href="#" class="header-menu__link">
                        О санатории
                    </a>
                    <ul class="header-submenu">
                        <li class="header-submenu__item">
                            <a href="#" class="header-submenu__link">Галерея</a>
                        </li>
                        <li class="header-submenu__item">
                            <a href="#" class="header-submenu__link">Отзывы</a>
                        </li>
                        <li class="header-submenu__item">
                            <a href="#" class="header-submenu__link">Новости</a>
                        </li>
                        <li class="header-submenu__item header-submenu__item-dop">
                            <a href="#" class="header-submenu__link">Акции</a>
                            <ul class="header-submenu__three">
                                <li class="header-submenu__item">
                                    <a href="#" class="header-submenu__link-dop">Информация для отдыхающих</a>
                                </li>
                                <li class="header-submenu__item">
                                    <a href="#" class="header-submenu__link-dop">Документы</a>
                                </li>
                                <li class="header-submenu__item">
                                    <a href="#" class="header-submenu__link-dop">Справочная информация</a>
                                </li>

                            </ul>
                        </li>
                        <li class="header-submenu__item">
                            <a href="#" class="header-submenu__link">Информация для отдыхающих</a>
                        </li>
                        <li class="header-submenu__item">
                            <a href="#" class="header-submenu__link">Документы</a>
                        </li>
                        <li class="header-submenu__item">
                            <a href="#" class="header-submenu__link">Справочная информация</a>
                        </li>
                    </ul>
                </li>
                <li class="header-menu__item header-menu__item-submenu">
                    <a href="#" class="header-menu__link">
                        Лечение
                    </a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">
                        SPA-комплекс
                    </a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">
                        Проживание
                    </a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">
                        Цены
                    </a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">
                        Услуги
                    </a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">
                        Питание
                    </a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-mobile">
        <div class="header-mobile__top">
            <a href="#" class="header-logo">
                    <span class="header-logo__pic">
                        <span class="icon--2">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                                class="path4"></span><span class="path5"></span><span class="path6"></span><span
                                class="path7"></span><span class="path8"></span><span class="path9"></span><span
                                class="path10"></span><span class="path11"></span><span class="path12"></span><span
                                class="path13"></span><span class="path14"></span><span class="path15"></span><span
                                class="path16"></span>
                         </span>
                    </span>
                <span class="header-logo__text">
                        <span class="header-logo__title">Военный <br> санаторий <br> КМВ</span>
                    </span>
            </a>
            <a href="tel:79064981853" class="header-phone__link header-phone__link-fixed">+7 (906) 498-18-53</a>
            <div class="header-mobile__top-right">
                <div class="branch-select">
                    <div class="branch-select__default">
                        <span>Кисловодский</span>
                    </div>
                    <div class="branch-select__items-hidden">
                        <div class="branch-select__items">
                            <a href="#" class="branch-select__item active">Кисловодск</a>
                            <a href="#" class="branch-select__item">Пятигорск</a>
                            <a href="#" class="branch-select__item">Ессентуки</a>
                            <a href="#" class="branch-select__item">Пятигорск. Детский санаторий</a>
                        </div>
                    </div>
                </div>
                <a class="hamburger" href="#menu">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
            </div>
        </div>
        <div class="header-mobile__bottom">
            <div class="header-mobile__bottom-left">
                <div class="official">
                    Официальный сайт
                </div>
                <a href="tel:79064981853" class="header-phone__link">+7 (906) 498-18-53</a>
            </div>
            <div class="header-mobile__bottom-right">
                <a href="#" class="header-btn btn-booking btn-light btn">Бронирование льготной путёвки</a>
                <a href="#" class="header-btn btn-booking__price btn-heavy btn">Бронирование путёвки по полной
                    стоимости </a>
            </div>
        </div>
    </div>
</header>