<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Конакты</li>
                    </ol>
                </nav>
                <h1>Конакты</h1>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <h3 class="pl-lg-5 mb-4">Отдел реализации путёвок</h3>
            </div>
            <div class="col-lg-16">
                <div class="contact-number__left">
                    <div class="contact-number__left-column">
                        <h4>
                            По льготным путёвкам
                        </h4>
                        <div class="contact-number__left-phone">
                            <a href="tel:88793729323" class="contact-number__left-phone-n">
                                8 (87937) <b>2-93-23</b>
                            </a>
                            <a href="tel:88793729901" class="contact-number__left-phone-n">
                                8 (87937) <b>2-99-01</b>
                            </a>
                        </div>
                        <div class="contact-number__left-email">
                            E-mail: <a href="mailto:vs.kislovodsk@yandex.ru">vs.kislovodsk@yandex.ru</a>
                        </div>
                    </div>
                    <div class="contact-number__left-column">
                        <h4>
                            По коммерческим путёвкам
                        </h4>
                        <div class="contact-number__left-phone">
                            <a href="tel:89064980633" class="contact-number__left-phone-n">
                                <b>8 (906) 498-06-33</b>
                            </a>
                        </div>
                        <p>
                            по вопросам приобретения коммерческих
                            путёвок, работают звонки по WhatsApp
                            с 08:00 до 23:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="contact-number__right">
                    <h4>
                        Консультация по платным услугам
                    </h4>
                    <a href="tel:88793767123" class="contact-number__left-phone-n">
                        8 (87937) <b>6-71-23</b>
                    </a>
                </div>
            </div>
            <div class="col-24">
                <div class="schedule">
                    <h4>
                        Режим работы отдела <br> реализации путёвок
                    </h4>
                    <div class="schedule-item">
                        <div class="schedule-item__description">Понедельник - четверг  </div>
                        <div class="schedule-item__title">с 8:00 до 17:00</div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item__description">Пятница  </div>
                        <div class="schedule-item__title">с 8:00 до 16:00</div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item__description">Суббота и воскресенье </div>
                        <div class="schedule-item__title">выходной</div>
                    </div>
                </div>
            </div>
            <div class="col-24">
                <div class="contact-personal">
                    <div class="h2 text-center">
                        С радостью поможем вам в с бронированием путёвки
                    </div>
                    <div class="contact-personal__items">
                        <div class="contact-personal__item">
                            <div class="contact-personal__pic">
                                <img src="images/person.jpg" alt="">
                            </div>
                            <div class="contact-personal__name">
                                Аваков <br> Гурген Альбертович
                            </div>
                            <div class="contact-personal__person">
                                менеджер отдела бронирования
                            </div>
                        </div>
                        <div class="contact-personal__item">
                            <div class="contact-personal__pic">
                                <img src="images/person.jpg" alt="">
                            </div>
                            <div class="contact-personal__name">
                                Аваков <br> Гурген Альбертович
                            </div>
                            <div class="contact-personal__person">
                                менеджер отдела бронирования
                            </div>
                        </div>
                        <div class="contact-personal__item">
                            <div class="contact-personal__pic">
                                <img src="images/person.jpg" alt="">
                            </div>
                            <div class="contact-personal__name">
                                Аваков <br> Гурген Альбертович
                            </div>
                            <div class="contact-personal__person">
                                менеджер отдела бронирования
                            </div>
                        </div>
                        <div class="contact-personal__item">
                            <div class="contact-personal__pic">
                                <img src="images/person.jpg" alt="">
                            </div>
                            <div class="contact-personal__name">
                                Аваков <br> Гурген Альбертович
                            </div>
                            <div class="contact-personal__person">
                                менеджер отдела бронирования
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="maps-container">
            <div class="row align-items-center">
                <div class="col-lg-11 pr-lg-0">
                    <div class="index-about__container contact-map__container">
                        <div class="index-about__top">
                            <div class="index-about__title">
                                Филиал «Санаторий <br>
                                «Кисловодский» ФГБУ СКК <br>
                                «Северокавказский» МО РФ
                            </div>
                            <div class="index-about__description">
                                Полное название: Филиал "Санаторий "Кисловодский" Федерального Государственного Бюджетного учреждения "Санаторно-курортный комплекс "Северокавказский" Министерства обороны Российской Федерации.
                            </div>
                            <div class="mt-4 pt-3">
                                <b>357700, Ставропольский край, <br>
                                    г. Кисловодск, пр. Дзержинского, 16.</b>
                            </div>

                        </div>
                        <div class="index-about__bottom chief-container">
                            <div class="chief-pic">
                                <img src="images/cheif.jpg" alt="">
                            </div>
                            <div class="chief-content">
                                <div class="chief-title">Начальник санатория</div>
                                <div class="chief-position">Рогов Владимир Викторович</div>
                                <div class="chief-phone">
                                    Телефон <a href="tel:8793720294">(87937) 2-02-94</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-13 pl-lg-0">
                    <div class="map-container">
                        <div id="map">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="get-to">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <div class="get-to__container">
                        <div class="h2 mb-4">
                            Как добраться?
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4">
                    <div class="get-to__item">
                        <div class="get-to__item-content">
                            <div class="get-to__item-icon">
                                <span class="icon-departures"></span>
                            </div>
                            <div class="get-to__item-title">На самолёте</div>
                            <div class="get-to__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</div>
                        </div>
                        <div class="index-star_4"></div>
                        <div class="index-star_5"></div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4">
                    <div class="get-to__item">
                        <div class="get-to__item-content">
                            <div class="get-to__item-icon">
                                <span class="icon-train"></span>
                            </div>
                            <div class="get-to__item-title">На поезде</div>
                            <div class="get-to__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</div>
                        </div>
                        <div class="index-star_4"></div>
                        <div class="index-star_5"></div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4">
                    <div class="get-to__item">
                        <div class="get-to__item-content">
                            <div class="get-to__item-icon">
                                <span class="icon-car"></span>
                            </div>
                            <div class="get-to__item-title">На автомобиле</div>
                            <div class="get-to__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</div>
                        </div>
                        <div class="index-star_4"></div>
                        <div class="index-star_5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-form__container">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <form action="#" class="contact-form">
                        <div class="contact-form__title">Остались вопросы? Напишите нам.</div>
                        <div class="contact-form__flex">
                            <div class="contact-form__item">
                                <input type="text" class="contact-form__input" placeholder="Имя">
                            </div>
                            <div class="contact-form__item">
                                <input type="tel" class="contact-form__input phone" placeholder="Телефон">
                            </div>
                        </div>
                        <div class="contact-form__flex">
                            <textarea class="contact-form__textarea" placeholder="Ваш вопрос"></textarea>
                        </div>
                        <div class="contact-form__btn">
                            <div class="contact-form__sbm">
                                <input type="submit" class="contact-form__submit btn btn-light" value="Отправить">
                            </div>
                            <div class="check">
                                <div class="check-container">
                                    <input type="checkbox" id="checks">
                                    <span></span>
                                </div>
                                <label for="checks">Даю своё согласие на <br> обработку персональных <br> данных</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>