<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Галерея</li>
                    </ol>
                </nav>
                <h1>Галерея</h1>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="gallery-link__items">
                    <a href="#" class="gallery-link__item">
                        Все фото
                    </a>
                    <a href="#" class="gallery-link__item active">
                        Лечение
                    </a>
                    <a href="#" class="gallery-link__item">
                        Номерной фонд
                    </a>
                    <a href="#" class="gallery-link__item">
                        Бассейн и SPA
                    </a>
                    <a href="#" class="gallery-link__item">
                        Досуг и экскурсии
                    </a>
                </div>
            </div>
            <div class="col-24">
                <div class="gallery-items">
                    <a href="images/gallery-1.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-1.jpg" alt="" />
                    </a>
                    <a href="images/gallery-2.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-2.jpg" alt="" />
                    </a>
                    <a href="images/gallery-3.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-3.jpg" alt="" />
                    </a>
                    <a href="images/gallery-4.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-4.jpg" alt="" />
                    </a>
                    <a href="images/gallery-4.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-4.jpg" alt="" />
                    </a>
                    <a href="images/gallery-3.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-3.jpg" alt="" />
                    </a>
                    <a href="images/gallery-2.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-2.jpg" alt="" />
                    </a>
                    <a href="images/gallery-1.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-1.jpg" alt="" />
                    </a>
                    <a href="images/gallery-1.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-1.jpg" alt="" />
                    </a>
                    <a href="images/gallery-2.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-2.jpg" alt="" />
                    </a>
                    <a href="images/gallery-3.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-3.jpg" alt="" />
                    </a>
                    <a href="images/gallery-4.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-4.jpg" alt="" />
                    </a>
                    <a href="images/gallery-4.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-4.jpg" alt="" />
                    </a>
                    <a href="images/gallery-3.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-3.jpg" alt="" />
                    </a>
                    <a href="images/gallery-2.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-2.jpg" alt="" />
                    </a>
                    <a href="images/gallery-1.jpg" data-fancybox="images" data-caption="My caption" class="gallery-item">
                        <img src="images/gallery-1.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-24">
                @@include('../layout/pagination.html')
            </div>
        </div>
    </div>
</div>