<div class="index-slider">
    <div class="index-slider__item" style='background-image: url("images/slider-1.jpg")'>
        <div class="container">
            <div class="index-slider__container">
                <div class="index-slider__content">
                    <div class="index-slider__title">
                        Военный санаторий в Кисловодске
                    </div>
                    <div class="index-slider__description">
                        Одна из старейших здравниц
                        расположенная в курортной зоне
                        города Кисловодска
                    </div>
                    <a href="#" class="btn btn-light btn-index__slider">О санатории</a>
                </div>
                <div class="index-star_1"></div>
                <div class="index-star_2"></div>
                <div class="index-star_3"></div>
            </div>
        </div>
    </div>
    <div class="index-slider__item" style='background-image: url("images/slider-1.jpg")'>
        <div class="container">
            <div class="index-slider__container">
                <div class="index-slider__content">
                    <div class="index-slider__title">
                        Военный санаторий в Пятигорске
                    </div>
                    <div class="index-slider__description">
                        Одна из старейших здравниц
                        расположенная в курортной зоне
                        города Кисловодска
                    </div>
                    <a href="#" class="btn btn-light btn-index__slider">О санатории</a>
                </div>
                <div class="index-star_1"></div>
                <div class="index-star_2"></div>
                <div class="index-star_3"></div>
            </div>
        </div>
    </div>
    <div class="index-slider__item" style='background-image: url("images/slider-1.jpg")'>
        <div class="container">
            <div class="index-slider__container">
                <div class="index-slider__content">
                    <div class="index-slider__title">
                        Военный санаторий в Ессентуках
                    </div>
                    <div class="index-slider__description">
                        Одна из старейших здравниц
                        расположенная в курортной зоне
                        города Кисловодска
                    </div>
                    <a href="#" class="btn btn-light btn-index__slider">О санатории</a>
                </div>
                <div class="index-star_1"></div>
                <div class="index-star_2"></div>
                <div class="index-star_3"></div>
            </div>
        </div>
    </div>
</div>
<div class="index-container">
    <div class="index-services">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8 col-12">
                    <div class="index-services__item">
                        <div class="index-services__pic">
                            <span class="icon-hospital"></span>
                        </div>
                        <div class="index-services__title">
                            Санаторий в центре Кисловодска
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12">
                    <div class="index-services__item">
                        <div class="index-services__pic">
                            <span class="icon-swimming-pool-1"></span>
                        </div>
                        <div class="index-services__title">
                            Бассейн включен в стоимость отдыха
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12">
                    <div class="index-services__item">
                        <div class="index-services__pic">
                            <span class="icon-hospital"></span>
                        </div>
                        <div class="index-services__title">
                            Санаторий в центре Кисловодска
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12">
                    <div class="index-services__item">
                        <div class="index-services__pic">
                            <span class="icon-hospital"></span>
                        </div>
                        <div class="index-services__title">
                            Санаторий в центре Кисловодска
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12">
                    <div class="index-services__item">
                        <div class="index-services__pic">
                            <span class="icon-hospital"></span>
                        </div>
                        <div class="index-services__title">
                            Санаторий в центре Кисловодска
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 pr-lg-0">
                    <div class="index-about__container">
                        <div class="index-about__top">
                            <div class="index-about__title">
                                О санатории Северокавказский
                            </div>
                            <div class="index-about__description">
                                Филиал "Санаторий "Кисловодский" ФГБУ "СКК "Северокавказский" МО РФ - одна из старейших здравниц  расположенная в курортной зоне города Кисловодска, практически в центре этого прекрасного бальнеологического курорта, в непосредственной близости от известейшего курортного парка с зонами для терренкура. Организован военный санаторий более 90 лет назад (в 1922 году).
                            </div>
                        </div>
                        <div class="index-about__bottom">
                            <a href="#" class="btn btn-light mb-3">Смотреть фото</a>
                            <a href="#" class="btn btn-heavy">Отзывы о санатории</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-16 pl-lg-0">
                    <div class="index-video__container">
                        <div class="index-video">
                            <div class="index-video__item" style="background-image: url('images/slider-2.jpg')"></div>
                            <div class="index-video__item" style="background-image: url('images/slider-2.jpg')"></div>
                            <div class="index-video__item" style="background-image: url('images/slider-2.jpg')"></div>
                        </div>
                        <div class="index-video__absolute">
                            <div class="index-video__title">Видео о санатории <br> СевероКавказский</div>
                            <div class="index-video__description">Длительность: 8 минут</div>
                            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
                               class="index-video__link">
                                <img src="images/video.jpg" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="index-program">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <div class="index-title">
                        Лечебно-оздоровительные программы
                    </div>
                </div>
                <div class="col-lg-20">
                    <div class="index-description">
                        Многолетний опыт санаторно-курортного лечения больных с заболеваниями сердечно-сосудистой системы, органов дыхания, сопутствующих заболеваний опорно-двигательного аппарата, урологических, гинекологических, неврологических заболеваний и квалификация медицинского персонала позволяют оказывать медицинскую помощь нашим отдыхающим на высочайшем современном уровне.
                    </div>
                </div>
                <div class="col-24">
                    <div class="index-program__items">
                        <a href="#" class="index-program__item">
                            <div class="index-program__item-pic" style='background-image: url("images/slider-3.jpg")'>
                                Стандарт
                            </div>
                            <div class="index-program__item-content">
                                <div class="index-program__item-description">Классическая санаторино-
                                курортная путёвка, включающая широкий набор лечебно-
                                курортная путёвка, включающая широкий набор лечебно-
                                оздоровительных процедур</div>
                                <div class="index-program__item-price">
                                    <div class="index-program__item-price-number">от 3 100 ₽</div>
                                    <span class="index-program__item-link">Подробнее</span>
                                </div>
                                <div class="index-star_4"></div>
                                <div class="index-star_5"></div>
                            </div>
                        </a>
                        <a href="#" class="index-program__item">
                            <div class="index-program__item-pic" style='background-image: url("images/slider-4.jpg")'>
                                Детокс
                            </div>
                            <div class="index-program__item-content">
                                <div class="index-program__item-description">Классическая санаторино-
                                курортная путёвка, включающая широкий набор лечебно-
                                оздоровительных процедур</div>
                                <div class="index-program__item-price">
                                    <div class="index-program__item-price-number">от 3 100 ₽</div>
                                    <span class="index-program__item-link">Подробнее</span>
                                </div>
                                <div class="index-star_4"></div>
                                <div class="index-star_5"></div>
                            </div>
                        </a>
                        <a href="#" class="index-program__item">
                            <div class="index-program__item-pic" style='background-image: url("images/slider-5.jpg")'>
                                Антистресс восстановление
                            </div>
                            <div class="index-program__item-content">
                                <div class="index-program__item-description">Классическая санаторино-
                                курортная путёвка, включающая широкий набор лечебно-
                                оздоровительных процедур</div>
                                <div class="index-program__item-price">
                                    <div class="index-program__item-price-number">от 3 100 ₽</div>
                                    <span class="index-program__item-link">Подробнее</span>
                                </div>
                                <div class="index-star_4"></div>
                                <div class="index-star_5"></div>
                            </div>
                        </a>
                        <a href="#" class="index-program__item">
                            <div class="index-program__item-pic" style='background-image: url("images/slider-6.jpg")'>
                                Усиление имунитета
                            </div>
                            <div class="index-program__item-content">
                                <div class="index-program__item-description">Классическая санаторино-
                                курортная путёвка, включающая широкий набор лечебно-
                                оздоровительных процедур</div>
                                <div class="index-program__item-price">
                                    <div class="index-program__item-price-number">от 3 100 ₽</div>
                                    <span class="index-program__item-link">Подробнее</span>
                                </div>
                                <div class="index-star_4"></div>
                                <div class="index-star_5"></div>
                            </div>
                        </a>
                        <a href="#" class="index-program__item">
                            <div class="index-program__item-pic" style='background-image: url("images/slider-3.jpg")'>
                                Стандарт
                            </div>
                            <div class="index-program__item-content">
                                <div class="index-program__item-description">Классическая санаторино-
                                курортная путёвка, включающая широкий набор лечебно-
                                оздоровительных процедур</div>
                                <div class="index-program__item-price">
                                    <div class="index-program__item-price-number">от 3 100 ₽</div>
                                    <span class="index-program__item-link">Подробнее</span>
                                </div>
                                <div class="index-star_4"></div>
                                <div class="index-star_5"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-24">
                    <div class="index-price__info">
                        <div class="index-price__info-title">
                            В стоимость <br> путёвки включено:
                        </div>
                        <div class="index-price__info-items">
                            <div class="index-price__info-item">
                                <div class="index-price__info-item-pic">
                                    <span class="icon-stethoscope"></span>
                                </div>
                                <div class="index-price__info-item-title">Лечение по профильному  направлению</div>
                            </div>
                            <div class="index-price__info-item">
                                <div class="index-price__info-item-pic">
                                    <span class="icon-swimming-pool"></span>
                                </div>
                                <div class="index-price__info-item-title">Посещение бассейна</div>
                            </div>
                            <div class="index-price__info-item">
                                <div class="index-price__info-item-pic">
                                    <span class="icon-bedroom"></span>
                                </div>
                                <div class="index-price__info-item-title">Проживание </div>
                            </div>
                            <div class="index-price__info-item">
                                <div class="index-price__info-item-pic">
                                    <span class="icon-restaurant"></span>
                                </div>
                                <div class="index-price__info-item-title">3-х разовое питание</div>
                            </div>
                        </div>
                        <div class="index-price__info-btn">
                            <a href="#" class="btn btn-light">Профили лечения</a>
                            <a href="#" class="btn btn-heavy">Цены</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-life">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <div class="index-title">
                        Проживание
                    </div>
                </div>
                <div class="col-lg-8 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style='background-image: url("images/booking.jpg")'></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item booking-item__action">
                        <div class="booking-item__action-title">
                            Акция
                        </div>
                        <div class="booking-item__action-description">«Раннее бронирование»</div>
                        <a href="" class="btn booking-item__action-btn btn-light">смотреть цены</a>
                        <div class="index-star_1"></div>
                        <div class="index-star_2"></div>
                        <div class="index-star_3"></div>
                        <div class="clock">
                            <img src="images/clock.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style='background-image: url("images/booking.jpg")'></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style='background-image: url("images/booking.jpg")'></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style='background-image: url("images/booking.jpg")'></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style='background-image: url("images/booking.jpg")'></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="early-booking">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <div class="early-booking__container">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="action-index">
       <div class="container">
           <div class="row">
               <div class="col-24">
                   <div class="action-container">
                       <div class="action-a">
                           Акция
                       </div>
                       <div class="action-content">
                           <div class="action-title">«Раннее бронирование»</div>
                           <div class="action-description">Успейте забронировать путёвку <br> со скидкой 10% до 15% мая 2019 г</div>
                       </div>
                       <a href="#" class="action-btn btn btn-light mt-4">смотреть цены</a>
                       <div class="index-star_1"></div>
                       <div class="index-star_2"></div>
                       <div class="index-star_3"></div>
                       <div class="clock">
                           <img src="images/clock.png" alt="">
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="services-index">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <div class="index-title">
                        Услуги
                    </div>
                </div>
                <div class="col-lg-16">
                    <a href="#" class="services-index__item" style="background-image: url('images/services-1.jpg')">
                        <span class="services-index__item-title">Бассейн</span>
                        <span class="services-index__item-absolute">
                            включено в стоимость путевки
                        </span>
                    </a>
                </div>
                <div class="col-lg-8 col-md-12">
                    <a href="#" class="services-index__item" style="background-image: url('images/services-2.jpg')">
                        <span class="services-index__item-title">Экскурсии по <br> Северному Кавказу</span>
                    </a>
                </div>
                <div class="col-lg-8 col-md-12">
                    <a href="#" class="services-index__item" style="background-image: url('images/services-3.jpg')">
                        <span class="services-index__item-title">Досуг в санатории</span>
                    </a>
                </div>
                <div class="col-lg-8 col-md-12">
                    <a href="#" class="services-index__item" style="background-image: url('images/services-4.jpg')">
                        <span class="services-index__item-title">SPA-комплекс</span>
                    </a>
                </div>
                <div class="col-lg-8 col-md-12">
                    <a href="#" class="services-index__item" style="background-image: url('images/services-5.jpg')">
                        <span class="services-index__item-title">Процедурные кабинеты</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>