<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Новости</li>
                    </ol>
                </nav>
                <h1>Новости</h1>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <a href="#" class="news-item">
                    <span class="news-item__pic">
                        <img src="images/news.jpg" alt="">
                    </span>
                    <span class="news-item__content">
                        <span class="news-item__flex">
                            <span class="news-item__date">
                                <span class="news-item__date-number">12</span>
                                <span class="news-item__date-text">августа 2019</span>
                            </span>
                            <span class="news-item__title">«Открытие курортных сезонов 2018»</span>
                        </span>
                        <span class="news-item__description">Старт «высокому сезону» 2018 года дало шествие по Курортному бульвару коллективов санаторно-курортных учреждений,
                            которое возглавили джаз-бенд «Дикси Френдс», уличный театр «Paranorma». Коллектив
                        Старт «высокому сезону» 2018 года дало шествие по Курортному бульвару коллективов санаторно-курортных учреждений,
                            которое возглавили джаз-бенд «Дикси Френдс», уличный театр «Paranorma». Коллектив...
                        </span>
                    </span>
                    <span class="news-item__link">
                        <span>Читать полностью</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8 col-md-12">
                <a href="#" class="news-item news-item__bg" style="background-image: url('images/news.jpg')">
                    <span class="news-item__content">
                        <span class="news-item__flex">
                            <span class="news-item__date">
                                <span class="news-item__date-number">12</span>
                                <span class="news-item__date-text">августа 2019</span>
                            </span>
                            <span class="news-item__title">«Открытие курортных сезонов 2018»</span>
                        </span>
                        <span class="news-item__description">Старт «высокому сезону» 2018 года дало шествие по Курортному бульвару коллективов санаторно-курортных учреждений,
                            которое возглавили джаз-бенд «Дикси Френдс», уличный театр «Paranorma». Коллектив

                        </span>
                    </span>
                    <span class="news-item__link">
                        <span>Читать полностью</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8 col-md-12">
                <a href="#" class="news-item">
                    <span class="news-item__pic">
                        <img src="images/news.jpg" alt="">
                    </span>
                    <span class="news-item__content">
                        <span class="news-item__flex">
                            <span class="news-item__date">
                                <span class="news-item__date-number">12</span>
                                <span class="news-item__date-text">августа 2019</span>
                            </span>
                            <span class="news-item__title">«Открытие курортных сезонов 2018»</span>
                        </span>
                        <span class="news-item__description">Старт «высокому сезону» 2018 года дало шествие по Курортному бульвару коллективов санаторно-курортных учреждений,
                            которое возглавили джаз-бенд «Дикси Френдс», уличный театр «Paranorma». Коллектив</span>
                    </span>
                    <span class="news-item__link">
                        <span>Читать полностью</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8 col-md-12">
                <a href="#" class="news-item">
                    <span class="news-item__pic">
                        <img src="images/news.jpg" alt="">
                    </span>
                    <span class="news-item__content">
                        <span class="news-item__flex">
                            <span class="news-item__date">
                                <span class="news-item__date-number">12</span>
                                <span class="news-item__date-text">августа 2019</span>
                            </span>
                            <span class="news-item__title">«Открытие курортных сезонов 2018»</span>
                        </span>
                        <span class="news-item__description">Старт «высокому сезону» 2018 года дало шествие по Курортному бульвару коллективов санаторно-курортных учреждений,
                            которое возглавили джаз-бенд «Дикси Френдс», уличный театр «Paranorma». Коллектив</span>
                    </span>
                    <span class="news-item__link">
                        <span>Читать полностью</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8 col-md-12 mb-4">
                <a href="#" class="news-item">
                    <span class="news-item__pic">
                        <img src="images/news.jpg" alt="">
                    </span>
                    <span class="news-item__content">
                        <span class="news-item__flex">
                            <span class="news-item__date">
                                <span class="news-item__date-number">12</span>
                                <span class="news-item__date-text">августа 2019</span>
                            </span>
                            <span class="news-item__title">«Открытие курортных сезонов 2018»</span>
                        </span>
                        <span class="news-item__description">Старт «высокому сезону» 2018 года дало шествие по Курортному бульвару коллективов санаторно-курортных учреждений,
                            которое возглавили джаз-бенд «Дикси Френдс», уличный театр «Paranorma». Коллектив</span>
                    </span>
                    <span class="news-item__link">
                        <span>Читать полностью</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8 col-md-12">
                <a href="#" class="news-item">
                    <span class="news-item__pic">
                        <img src="images/news.jpg" alt="">
                    </span>
                    <span class="news-item__content">
                        <span class="news-item__flex">
                            <span class="news-item__date">
                                <span class="news-item__date-number">12</span>
                                <span class="news-item__date-text">августа 2019</span>
                            </span>
                            <span class="news-item__title">«Открытие курортных сезонов 2018»</span>
                        </span>
                        <span class="news-item__description">Старт «высокому сезону» 2018 года дало шествие по Курортному бульвару коллективов санаторно-курортных учреждений,
                            которое возглавили джаз-бенд «Дикси Френдс», уличный театр «Paranorma». Коллектив</span>
                    </span>
                    <span class="news-item__link">
                        <span>Читать полностью</span>
                    </span>
                </a>
            </div>
            <div class="col-24">
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link page-link__dots" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>