<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Номера</li>
                    </ol>
                </nav>
                <h1>Номера</h1>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row align-items-center mb-md-5 mb-3">
            <div class="col-lg-14 pr-lg-0">
                <a href="#" class="numbers-pic">
                    <img src="images/numbers.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-10 pl-lg-0">
                <div class="numbers-container">
                    <div class="numbers-content">
                        <a href="#" class="numbers-title">Одноместный <br> однокомнатный номер</a>
                        <div class="numbers-description">
                            Светлый и комфортный номер. Небольшой по площади, но вмещающий всё необходимое: две кровати (90*200 см.), прикроватные тумбочки, стол со встроенным холодильником, зеркало
                            и телевизор. В санузле душ. В номере есть балкон.
                        </div>
                        <div class="numbers-price">от 2 300 ₽/сутки</div>
                    </div>
                    <div class="numbers-link__container">
                        <a href="#" class="numbers-link">Смотреть детали</a>
                        <a href="#" class="btn btn-heavy">Забронировать путевку</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-md-5 mb-3">
            <div class="col-lg-14 pr-lg-0">
                <a href="#" class="numbers-pic">
                    <img src="images/numbers.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-10 pl-lg-0">
                <div class="numbers-container">
                    <div class="numbers-content">
                        <a href="#" class="numbers-title">Одноместный <br> однокомнатный номер</a>
                        <div class="numbers-description">
                            Светлый и комфортный номер. Небольшой по площади, но вмещающий всё необходимое: две кровати (90*200 см.), прикроватные тумбочки, стол со встроенным холодильником, зеркало
                            и телевизор. В санузле душ. В номере есть балкон.
                        </div>
                        <div class="numbers-price">от 2 300 ₽/сутки</div>
                    </div>
                    <div class="numbers-link__container">
                        <a href="#" class="numbers-link">Смотреть детали</a>
                        <a href="#" class="btn btn-heavy">Забронировать путевку</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-md-5 mb-3">
            <div class="col-lg-14 pr-lg-0">
                <a href="#" class="numbers-pic">
                    <img src="images/numbers.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-10 pl-lg-0">
                <div class="numbers-container">
                    <div class="numbers-content">
                        <a href="#" class="numbers-title">Одноместный <br> однокомнатный номер</a>
                        <div class="numbers-description">
                            Светлый и комфортный номер. Небольшой по площади, но вмещающий всё необходимое: две кровати (90*200 см.), прикроватные тумбочки, стол со встроенным холодильником, зеркало
                            и телевизор. В санузле душ. В номере есть балкон.
                        </div>
                        <div class="numbers-price">от 2 300 ₽/сутки</div>
                    </div>
                    <div class="numbers-link__container">
                        <a href="#" class="numbers-link">Смотреть детали</a>
                        <a href="#" class="btn btn-heavy">Забронировать путевку</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-md-5 mb-3">
            <div class="col-lg-14 pr-lg-0">
                <a href="#" class="numbers-pic">
                    <img src="images/numbers.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-10 pl-lg-0">
                <div class="numbers-container">
                    <div class="numbers-content">
                        <a href="#" class="numbers-title">Одноместный <br> однокомнатный номер</a>
                        <div class="numbers-description">
                            Светлый и комфортный номер. Небольшой по площади, но вмещающий всё необходимое: две кровати (90*200 см.), прикроватные тумбочки, стол со встроенным холодильником, зеркало
                            и телевизор. В санузле душ. В номере есть балкон.
                        </div>
                        <div class="numbers-price">от 2 300 ₽/сутки</div>
                    </div>
                    <div class="numbers-link__container">
                        <a href="#" class="numbers-link">Смотреть детали</a>
                        <a href="#" class="btn btn-heavy">Забронировать путевку</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-md-5 mb-3">
            <div class="col-lg-14 pr-lg-0">
                <a href="#" class="numbers-pic">
                    <img src="images/numbers.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-10 pl-lg-0">
                <div class="numbers-container">
                    <div class="numbers-content">
                        <a href="#" class="numbers-title">Одноместный <br> однокомнатный номер</a>
                        <div class="numbers-description">
                            Светлый и комфортный номер. Небольшой по площади, но вмещающий всё необходимое: две кровати (90*200 см.), прикроватные тумбочки, стол со встроенным холодильником, зеркало
                            и телевизор. В санузле душ. В номере есть балкон.
                        </div>
                        <div class="numbers-price">от 2 300 ₽/сутки</div>
                    </div>
                    <div class="numbers-link__container">
                        <a href="#" class="numbers-link">Смотреть детали</a>
                        <a href="#" class="btn btn-heavy">Забронировать путевку</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-md-5 mb-3">
            <div class="col-lg-14 pr-lg-0">
                <a href="#" class="numbers-pic">
                    <img src="images/numbers.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-10 pl-lg-0">
                <div class="numbers-container">
                    <div class="numbers-content">
                        <a href="#" class="numbers-title">Одноместный <br> однокомнатный номер</a>
                        <div class="numbers-description">
                            Светлый и комфортный номер. Небольшой по площади, но вмещающий всё необходимое: две кровати (90*200 см.), прикроватные тумбочки, стол со встроенным холодильником, зеркало
                            и телевизор. В санузле душ. В номере есть балкон.
                        </div>
                        <div class="numbers-price">от 2 300 ₽/сутки</div>
                    </div>
                    <div class="numbers-link__container">
                        <a href="#" class="numbers-link">Смотреть детали</a>
                        <a href="#" class="btn btn-heavy">Забронировать путевку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>