<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Цены</li>
                    </ol>
                </nav>
                <h1>Цены</h1>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <div class="btn btn-link card-header__link" data-toggle="collapse"
                                 data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Программа Стандарт
                                <div class="collapse-icon"></div>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="price-table">
                                    <div class="price-table__tr">
                                        <div class="price-table__th">
                                            Категория номера
                                        </div>
                                        <div class="category-table-date">
                                            <div class="category-container__table-th active-element"><span id="table-date"> Основное место</span></div>
                                            <div class="category-container__table-hidden">
                                                <div class="category-container__table-height">
                                                    <div class="price-table__th active" data-date="date-1"><span>Основное место</span></div>
                                                    <div class="price-table__th" data-date="date-2"><span> Одноместное размещение</span></div>
                                                    <div class="price-table__th" data-date="date-3"><span>Путевка VIP</span>
                                                        <div class="vip-container">
                                                            <div class="vip-container__absolute">
                                                                <img src="images/info.png" alt="">
                                                            </div>
                                                            В стоимость санаторно-курортной
                                                            путевки VIP «все включено» входят все
                                                            медицинские услуги, в том числе
                                                            не предусмотренные Стандартом
                                                            санаторно-курортного лечения,
                                                            в соответствии с номенклатурой
                                                            платных медицинских услуг
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-table__tr">
                                        <div class="price-table__td">
                                            <a href="#">Двухместный однокомнатный номер</a>
                                        </div>
                                        <div class="price-table__td active" data-date_price="date-1">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-2">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-3">
                                            54 600
                                        </div>
                                    </div>
                                    <div class="price-table__tr">
                                        <div class="price-table__td">
                                            <a href="#">Двухместный однокомнатный номер с частичными удобствами</a>
                                        </div>
                                        <div class="price-table__td active" data-date_price="date-1">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-2">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-3">
                                            54 600
                                        </div>
                                    </div>
                                    <div class="price-table__tr">
                                        <div class="price-table__td">
                                            <a href="#">Двухместный однокомнатный смежный номер</a>
                                        </div>
                                        <div class="price-table__td active" data-date_price="date-1">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-2">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-3">
                                            54 600
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <div class="btn btn-link card-header__link collapsed" data-toggle="collapse"
                                 data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Программа Организованный отдых
                                <div class="collapse-icon"></div>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="price-table">
                                    <div class="price-table__tr">
                                        <div class="price-table__th">
                                            Категория номера
                                        </div>
                                        <div class="category-table-date">
                                            <div class="category-container__table-th active-element"><span id="table-date2"> Основное место</span></div>
                                            <div class="category-container__table-hidden">
                                                <div class="category-container__table-height">
                                                    <div class="price-table__th active" data-date="date-4"><span>Основное место</span></div>
                                                    <div class="price-table__th" data-date="date-5"><span> Одноместное размещение</span></div>
                                                    <div class="price-table__th" data-date="date-6"><span>Путевка VIP</span>
                                                    <div class="vip-container">
                                                        <div class="vip-container__absolute">
                                                            <img src="images/info.png" alt="">
                                                        </div>
                                                        В стоимость санаторно-курортной
                                                        путевки VIP «все включено» входят все
                                                        медицинские услуги, в том числе
                                                        не предусмотренные Стандартом
                                                        санаторно-курортного лечения,
                                                        в соответствии с номенклатурой
                                                        платных медицинских услуг
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-table__tr">
                                        <div class="price-table__td">
                                            <a href="#">Двухместный однокомнатный номер</a>
                                        </div>
                                        <div class="price-table__td active" data-date_price="date-4">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-5">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-6">
                                            54 600
                                        </div>
                                    </div>
                                    <div class="price-table__tr">
                                        <div class="price-table__td">
                                            <a href="#">Двухместный однокомнатный номер с частичными удобствами</a>
                                        </div>
                                        <div class="price-table__td active" data-date_price="date-4">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-5">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-6">
                                            54 600
                                        </div>
                                    </div>
                                    <div class="price-table__tr">
                                        <div class="price-table__td active">
                                            <a href="#">Двухместный однокомнатный смежный номер</a>
                                        </div>
                                        <div class="price-table__td active" data-date_price="date-4">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-5">
                                            2 100
                                        </div>
                                        <div class="price-table__td" data-date_price="date-6">
                                            54 600
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
