<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Лечение</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Программа Стандарт </h1>
                <div class="program-flex">
                    <div class="numbers-price">от 2 300 ₽/сутки</div>
                    <a href="#" class="numbers-link">Выбрать номер</a>
                </div>
                <h4 class="mb-3">
                    Описание программы
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                </p>
            </div>
            <div class="col-lg-12">
                <div class="reviews-program__container">
                    <div class="reviews-program">
                        <div class="reviews-program__item">
                            <div class="reviews-program__item-top">
                                <div class="reviews-program__item-name">Михневич Георгий Александрович</div>
                                <div class="reviews-program__item-rating">
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review_2"></span>
                                </div>
                            </div>
                            <div class="reviews-program__item-text">
                                Благодарю администрацию и весь персонал санатория за прекрасно организованный
                                лечебный процесс и отдых, за позитивные перемены,происходящие в санатории под
                                руководством Павлова А.В
                            </div>
                        </div>
                        <div class="reviews-program__item">
                            <div class="reviews-program__item-top">
                                <div class="reviews-program__item-name">Михневич Георгий Александрович</div>
                                <div class="reviews-program__item-rating">
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review_2"></span>
                                </div>
                            </div>
                            <div class="reviews-program__item-text">
                                Благодарю администрацию и весь персонал санатория за прекрасно организованный
                                лечебный процесс и отдых, за позитивные перемены,происходящие в санатории под
                                руководством Павлова А.В
                            </div>
                        </div>
                        <div class="reviews-program__item">
                            <div class="reviews-program__item-top">
                                <div class="reviews-program__item-name">Михневич Георгий Александрович</div>
                                <div class="reviews-program__item-rating">
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review_2"></span>
                                </div>
                            </div>
                            <div class="reviews-program__item-text">
                                Благодарю администрацию и весь персонал санатория за прекрасно организованный
                                лечебный процесс и отдых, за позитивные перемены,происходящие в санатории под
                                руководством Павлова А.В
                            </div>
                        </div>
                        <div class="reviews-program__item">
                            <div class="reviews-program__item-top">
                                <div class="reviews-program__item-name">Михневич Георгий Александрович</div>
                                <div class="reviews-program__item-rating">
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review"></span>
                                    <span class="icon-star-review_2"></span>
                                </div>
                            </div>
                            <div class="reviews-program__item-text">
                                Благодарю администрацию и весь персонал санатория за прекрасно организованный
                                лечебный процесс и отдых, за позитивные перемены,происходящие в санатории под
                                руководством Павлова А.В
                            </div>
                        </div>
                    </div>
                    <a href="#" class="reviews-program__absolute">
                        145 отзывов
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="procedure">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <h2>Процедуры включенные в стоимость</h2>
                    <div class="procedure-items">
                        <a class="procedure-item" data-fancybox="modal-program" href="#modal-program-6">
                            <div class="procedure-item__pic">
                                <img src="images/procedure.jpg" alt="">
                            </div>
                            <span class="procedure-item__title">Бассейн</span>
                        </a>
                        <a class="procedure-item" data-fancybox="modal-program" href="#modal-program-7">
                            <div class="procedure-item__pic">
                                <img src="images/procedure.jpg" alt="">
                            </div>
                            <span class="procedure-item__title">Бассейн</span>
                        </a>
                        <a class="procedure-item" data-fancybox="modal-program" href="#modal-program-8">
                            <div class="procedure-item__pic">
                                <img src="images/procedure.jpg" alt="">
                            </div>
                            <span class="procedure-item__title">Бассейн</span>
                        </a>
                        <a class="procedure-item" data-fancybox="modal-program" href="#modal-program-9">
                            <div class="procedure-item__pic">
                                <img src="images/procedure.jpg" alt="">
                            </div>
                            <span class="procedure-item__title">Бассейн</span>
                        </a>
                        <a class="procedure-item" data-fancybox="modal-program" href="#modal-program-10">
                            <div class="procedure-item__pic">
                                <img src="images/procedure.jpg" alt="">
                            </div>
                            <span class="procedure-item__title">Бассейн</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <h2 class="text-center mb-4 pb-lg-2">Подходит для профилей</h2>
                </div>
                <div class="col-lg-8 col-md-12 mb-md-4 mb-2">
                    <div class="profile-item profile-item_blue">
                        <div class="profile-item__pic">
                            <img src="images/profile-1.png" alt="">
                        </div>
                        <div class="profile-item__title">
                            Заболевания ЖКТ
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 mb-md-4 mb-2">
                    <div class="profile-item profile-item_blue">
                        <div class="profile-item__pic">
                            <img src="images/profile-2.png" alt="">
                        </div>
                        <div class="profile-item__title">
                            Заболевания  сердечно-сосудистой системы
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 mb-md-4 mb-2">
                    <div class="profile-item profile-item_blue">
                        <div class="profile-item__pic">
                            <img src="images/profile-3.png" alt="">
                        </div>
                        <div class="profile-item__title">
                            Заболевания  сердечно-сосудистой системы
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 mb-md-4 mb-2">
                    <div class="profile-item profile-item_blue">
                        <div class="profile-item__pic">
                            <img src="images/profile-4.png" alt="">
                        </div>
                        <div class="profile-item__title">
                            Заболевания  нервной системы
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 mb-md-4 mb-2">
                    <div class="profile-item profile-item_blue">
                        <div class="profile-item__pic">
                            <img src="images/profile-2.png" alt="">
                        </div>
                        <div class="profile-item__title">
                            Болезни ЛОР-органов
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 mb-md-4 mb-2">
                    <div class="profile-item profile-item_blue">
                        <div class="profile-item__pic">
                            <img src="images/profile-3.png" alt="">
                        </div>
                        <div class="profile-item__title">
                            Болезни ЛОР-органов
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-container">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <div class="scroll">
                        <h2 class="text-center mb-md-4 pb-lg-2 pl-lg-5 pr-lg-5">Полный перечень процедур, включенных в
                            программу
                            лечения на 21 день</h2>
                        <div class="scroll-table__container">
                            <div class="scroll-table">
                                <div class="scroll-table__tr">
                                    <div class="scroll-table__th">Категория номера</div>
                                    <div class="scroll-table__th">Длительность пребывания</div>
                                    <div class="scroll-table__th">Цена</div>
                                </div>
                                <div class="scroll-table__tr">
                                    <div class="scroll-table__td">Двухместный однокомнатный номер с частичными удобствами</div>
                                    <div class="scroll-table__td">21</div>
                                    <div class="scroll-table__td">54 600</div>
                                </div>
                                <div class="scroll-table__tr">
                                    <div class="scroll-table__td">Двухместный однокомнатный смежный номер</div>
                                    <div class="scroll-table__td">21</div>
                                    <div class="scroll-table__td">54 600</div>
                                </div>
                                <div class="scroll-table__tr">
                                    <div class="scroll-table__td">Двухместный однокомнатный номер </div>
                                    <div class="scroll-table__td">21</div>
                                    <div class="scroll-table__td">54 600</div>
                                </div>
                                <div class="scroll-table__tr">
                                    <div class="scroll-table__td">Двухместный однокомнатный номер </div>
                                    <div class="scroll-table__td">21</div>
                                    <div class="scroll-table__td">54 600</div>
                                </div>
                                <div class="scroll-table__tr">
                                    <div class="scroll-table__td">Двухместный однокомнатный номер </div>
                                    <div class="scroll-table__td">21</div>
                                    <div class="scroll-table__td">54 600</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recommendations-procedure">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <h2>Дополнительные рекомендуемые процедуры</h2>
                    <div class="recommendations-procedure__items">
                        <a data-fancybox="modal-program" href="#modal-program-1" class="recommendations-procedure__item">
                            <div class="recommendations-procedure__item-pic">
                                <img src="images/procedure.jpg" alt="">
                            </div>
                            <div class="recommendations-procedure__item-title">Массаж</div>
                            <div class="recommendations-procedure__item-price">140 ₽</div>
                        </a>
                        <a data-fancybox="modal-program" href="#modal-program-2" class="recommendations-procedure__item">
                            <div class="recommendations-procedure__item-pic">
                                <img src="images/procedure.jpg" alt="">
                            </div>
                            <div class="recommendations-procedure__item-title">Бассейн</div>
                            <div class="recommendations-procedure__item-price">140 ₽</div>
                        </a>
                        <a data-fancybox="modal-program" href="#modal-program-3" class="recommendations-procedure__item">
                            <div class="recommendations-procedure__item-pic">
                                <img src="images/procedure.jpg" alt="">
                            </div>
                            <div class="recommendations-procedure__item-title">Лабараторные  исследования</div>
                            <div class="recommendations-procedure__item-price">140 ₽</div>
                        </a>
                        <a data-fancybox="modal-program" href="#modal-program-4" class="recommendations-procedure__item">
                            <div class="recommendations-procedure__item-pic">
                                <img src="images/procedure.jpg" alt="">
                            </div>
                            <div class="recommendations-procedure__item-title">Аппартатная  физеотерапия</div>
                            <div class="recommendations-procedure__item-price">140 ₽</div>
                        </a>
                        <a data-fancybox="modal-program" href="#modal-program-5" class="recommendations-procedure__item">
                            <div class="recommendations-procedure__item-pic">
                                <img src="images/procedure.jpg" alt="">
                            </div>
                            <div class="recommendations-procedure__item-title"></div>
                            <div class="recommendations-procedure__item-price">140 ₽</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="program-form">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <form action="#" class="contact-form">
                        <div class="contact-form__title">
                            Оставьте заявку на бронирование
                        </div>
                        <div class="program-flex">
                            <div class="contact-form__item">
                                <input type="text" class="contact-form__input" placeholder="Имя">
                            </div>
                            <div class="contact-form__item">
                                <input type="tel" class="contact-form__input phone" placeholder="Телефон">
                            </div>
                            <div class="contact-form__sbm">
                                <input type="submit" class="contact-form__submit btn btn-light" value="Забронировать">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="leave-container">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <h2 class="text-center mb-4 pb-lg-2">Проживание</h2>
                </div>
                <div class="col-lg-6 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style="background-image: url('images/booking.jpg')"></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style="background-image: url('images/booking.jpg')"></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style="background-image: url('images/booking.jpg')"></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item booking-item__action">
                        <div class="booking-item__action-title">
                            Акция
                        </div>
                        <div class="booking-item__action-description">«Раннее бронирование»</div>
                        <a href="" class="btn booking-item__action-btn btn-light">смотреть цены</a>
                        <div class="index-star_1"></div>
                        <div class="index-star_2"></div>
                        <div class="index-star_3"></div>
                        <div class="clock">
                            <img src="images/clock.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="program-photo">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <h2 class="text-center mb-4 pb-lg-2">Фото санатория</h2>
                </div>
            </div>
        </div>
        <div class="photo-slider">
            <img src="images/photo-1.jpg" alt="">
            <img src="images/photo-2.jpg" alt="">
        </div>
        <div class="container mt-lg-5 mt-4">
            <div class="row">
                <div class="col-24 flex justify-content-center flex-column flex-sm-row">
                    <a href="#" class="btn btn-light mr-sm-4 mb-3 mb-sm-0">Смотреть все фото</a>
                    <a href="#" class="btn btn-heavy">Читать отзывы</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-24">
            <h2 class="text-center mt-lg-5 mt-4 mb-4 pb-lg-2">Другие программы</h2>
            <div class="programs-items">
                <a href="#" class="index-program__item">
                    <div class="index-program__item-pic" style="background-image: url('images/slider-3.jpg')">
                        Стандарт
                    </div>
                    <div class="index-program__item-content">
                        <div class="index-program__item-description">Классическая санаторино-
                        курортная путёвка, включающая широкий набор лечебно-
                        оздоровительных процедур</div>
                        <div class="index-program__item-price">
                            <div class="index-program__item-price-number">от 3 100 ₽</div>
                            <span class="index-program__item-link">Подробнее</span>
                        </div>
                        <div class="index-star_4"></div>
                        <div class="index-star_5"></div>
                    </div>
                </a>
                <a href="#" class="index-program__item">
                    <div class="index-program__item-pic" style="background-image: url('images/slider-3.jpg')">
                        Стандарт
                    </div>
                    <div class="index-program__item-content">
                        <div class="index-program__item-description">Классическая санаторино-
                            курортная путёвка, включающая широкий набор лечебно-
                            оздоровительных процедур</div>
                        <div class="index-program__item-price">
                            <div class="index-program__item-price-number">от 3 100 ₽</div>
                            <span class="index-program__item-link">Подробнее</span>
                        </div>
                        <div class="index-star_4"></div>
                        <div class="index-star_5"></div>
                    </div>
                </a>
                <a href="#" class="index-program__item">
                    <div class="index-program__item-pic" style="background-image: url('images/slider-3.jpg')">
                        Стандарт
                    </div>
                    <div class="index-program__item-content">
                        <div class="index-program__item-description">Классическая санаторино-
                            курортная путёвка, включающая широкий набор лечебно-
                            оздоровительных процедур</div>
                        <div class="index-program__item-price">
                            <div class="index-program__item-price-number">от 3 100 ₽</div>
                            <span class="index-program__item-link">Подробнее</span>
                        </div>
                        <div class="index-star_4"></div>
                        <div class="index-star_5"></div>
                    </div>
                </a>
                <a href="#" class="index-program__item">
                    <div class="index-program__item-pic" style="background-image: url('images/slider-3.jpg')">
                        Стандарт
                    </div>
                    <div class="index-program__item-content">
                        <div class="index-program__item-description">Классическая санаторино-
                            курортная путёвка, включающая широкий набор лечебно-
                            оздоровительных процедур</div>
                        <div class="index-program__item-price">
                            <div class="index-program__item-price-number">от 3 100 ₽</div>
                            <span class="index-program__item-link">Подробнее</span>
                        </div>
                        <div class="index-star_4"></div>
                        <div class="index-star_5"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="modal-program-1" class="modal-program__item">
    <div class="modal-program__img"><img src="https://sangork.ru/content/procedure/thumb2_12c62c26a401d5dbb9e8ec26c46ddde5.jpg" alt="«Стандарт»"></div>
    <div class="modal-program__title">Спелеотерапия</div>
    <div class="modal-program__txt text-left">
        <p>Основным лечебным фактором является положительное влияние ионизированного воздуха на организм и отсутствие аллергенов.</p>

        <p>Процедура проходит в помещении с уникальной климатической средой. Стены состоят из блоков натуральной морской соли Чёрного моря, пол из соляной плитки Нижнекамского месторождения калийных солей.</p>

        <p>Применяется для лечения заболеваний органов дыхания, нервной системы, является хорошим профилактическим средством от ОРВИ и гриппа.</p>
    </div>
</div>
<div id="modal-program-2" class="modal-program__item">
    <div class="modal-program__img"><img src="https://sangork.ru/content/procedure/thumb2_12c62c26a401d5dbb9e8ec26c46ddde5.jpg" alt="«Стандарт»"></div>
    <div class="modal-program__title">Спелеотерапия</div>
    <div class="modal-program__txt text-left">
        <p>Основным лечебным фактором является положительное влияние ионизированного воздуха на организм и отсутствие аллергенов.</p>

        <p>Процедура проходит в помещении с уникальной климатической средой. Стены состоят из блоков натуральной морской соли Чёрного моря, пол из соляной плитки Нижнекамского месторождения калийных солей.</p>

        <p>Применяется для лечения заболеваний органов дыхания, нервной системы, является хорошим профилактическим средством от ОРВИ и гриппа.</p>
    </div>
</div>
<div id="modal-program-3" class="modal-program__item">
    <div class="modal-program__img"><img src="https://sangork.ru/content/procedure/thumb2_12c62c26a401d5dbb9e8ec26c46ddde5.jpg" alt="«Стандарт»"></div>
    <div class="modal-program__title">Спелеотерапия</div>
    <div class="modal-program__txt text-left">
        <p>Основным лечебным фактором является положительное влияние ионизированного воздуха на организм и отсутствие аллергенов.</p>

        <p>Процедура проходит в помещении с уникальной климатической средой. Стены состоят из блоков натуральной морской соли Чёрного моря, пол из соляной плитки Нижнекамского месторождения калийных солей.</p>

        <p>Применяется для лечения заболеваний органов дыхания, нервной системы, является хорошим профилактическим средством от ОРВИ и гриппа.</p>
    </div>
</div>
<div id="modal-program-4" class="modal-program__item">
    <div class="modal-program__img"><img src="https://sangork.ru/content/procedure/thumb2_12c62c26a401d5dbb9e8ec26c46ddde5.jpg" alt="«Стандарт»"></div>
    <div class="modal-program__title">Спелеотерапия</div>
    <div class="modal-program__txt text-left">
        <p>Основным лечебным фактором является положительное влияние ионизированного воздуха на организм и отсутствие аллергенов.</p>

        <p>Процедура проходит в помещении с уникальной климатической средой. Стены состоят из блоков натуральной морской соли Чёрного моря, пол из соляной плитки Нижнекамского месторождения калийных солей.</p>

        <p>Применяется для лечения заболеваний органов дыхания, нервной системы, является хорошим профилактическим средством от ОРВИ и гриппа.</p>
    </div>
</div>
<div id="modal-program-5" class="modal-program__item">
    <div class="modal-program__img"><img src="https://sangork.ru/content/procedure/thumb2_12c62c26a401d5dbb9e8ec26c46ddde5.jpg" alt="«Стандарт»"></div>
    <div class="modal-program__title">Спелеотерапия</div>
    <div class="modal-program__txt text-left">
        <p>Основным лечебным фактором является положительное влияние ионизированного воздуха на организм и отсутствие аллергенов.</p>

        <p>Процедура проходит в помещении с уникальной климатической средой. Стены состоят из блоков натуральной морской соли Чёрного моря, пол из соляной плитки Нижнекамского месторождения калийных солей.</p>

        <p>Применяется для лечения заболеваний органов дыхания, нервной системы, является хорошим профилактическим средством от ОРВИ и гриппа.</p>
    </div>
</div>
<div id="modal-program-6" class="modal-program__item">
    <div class="modal-program__img"><img src="https://sangork.ru/content/procedure/thumb2_12c62c26a401d5dbb9e8ec26c46ddde5.jpg" alt="«Стандарт»"></div>
    <div class="modal-program__title">Спелеотерапия</div>
    <div class="modal-program__txt text-left">
        <p>Основным лечебным фактором является положительное влияние ионизированного воздуха на организм и отсутствие аллергенов.</p>

        <p>Процедура проходит в помещении с уникальной климатической средой. Стены состоят из блоков натуральной морской соли Чёрного моря, пол из соляной плитки Нижнекамского месторождения калийных солей.</p>

        <p>Применяется для лечения заболеваний органов дыхания, нервной системы, является хорошим профилактическим средством от ОРВИ и гриппа.</p>
    </div>
</div>
<div id="modal-program-7" class="modal-program__item">
    <div class="modal-program__img"><img src="https://sangork.ru/content/procedure/thumb2_12c62c26a401d5dbb9e8ec26c46ddde5.jpg" alt="«Стандарт»"></div>
    <div class="modal-program__title">Спелеотерапия</div>
    <div class="modal-program__txt text-left">
        <p>Основным лечебным фактором является положительное влияние ионизированного воздуха на организм и отсутствие аллергенов.</p>

        <p>Процедура проходит в помещении с уникальной климатической средой. Стены состоят из блоков натуральной морской соли Чёрного моря, пол из соляной плитки Нижнекамского месторождения калийных солей.</p>

        <p>Применяется для лечения заболеваний органов дыхания, нервной системы, является хорошим профилактическим средством от ОРВИ и гриппа.</p>
    </div>
</div>
<div id="modal-program-8" class="modal-program__item">
    <div class="modal-program__img"><img src="https://sangork.ru/content/procedure/thumb2_12c62c26a401d5dbb9e8ec26c46ddde5.jpg" alt="«Стандарт»"></div>
    <div class="modal-program__title">Спелеотерапия</div>
    <div class="modal-program__txt text-left">
        <p>Основным лечебным фактором является положительное влияние ионизированного воздуха на организм и отсутствие аллергенов.</p>

        <p>Процедура проходит в помещении с уникальной климатической средой. Стены состоят из блоков натуральной морской соли Чёрного моря, пол из соляной плитки Нижнекамского месторождения калийных солей.</p>

        <p>Применяется для лечения заболеваний органов дыхания, нервной системы, является хорошим профилактическим средством от ОРВИ и гриппа.</p>
    </div>
</div>
<div id="modal-program-9" class="modal-program__item">
    <div class="modal-program__img"><img src="https://sangork.ru/content/procedure/thumb2_12c62c26a401d5dbb9e8ec26c46ddde5.jpg" alt="«Стандарт»"></div>
    <div class="modal-program__title">Спелеотерапия</div>
    <div class="modal-program__txt text-left">
        <p>Основным лечебным фактором является положительное влияние ионизированного воздуха на организм и отсутствие аллергенов.</p>

        <p>Процедура проходит в помещении с уникальной климатической средой. Стены состоят из блоков натуральной морской соли Чёрного моря, пол из соляной плитки Нижнекамского месторождения калийных солей.</p>

        <p>Применяется для лечения заболеваний органов дыхания, нервной системы, является хорошим профилактическим средством от ОРВИ и гриппа.</p>
    </div>
</div>
<div id="modal-program-10" class="modal-program__item">
    <div class="modal-program__img"><img src="https://sangork.ru/content/procedure/thumb2_12c62c26a401d5dbb9e8ec26c46ddde5.jpg" alt="«Стандарт»"></div>
    <div class="modal-program__title">Спелеотерапия</div>
    <div class="modal-program__txt text-left">
        <p>Основным лечебным фактором является положительное влияние ионизированного воздуха на организм и отсутствие аллергенов.</p>

        <p>Процедура проходит в помещении с уникальной климатической средой. Стены состоят из блоков натуральной морской соли Чёрного моря, пол из соляной плитки Нижнекамского месторождения калийных солей.</p>

        <p>Применяется для лечения заболеваний органов дыхания, нервной системы, является хорошим профилактическим средством от ОРВИ и гриппа.</p>
    </div>
</div>