<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Отзывы</li>
                    </ol>
                </nav>
                <h1>Отзывы</h1>
                <a href="#" class="btn btn-heavy btn-reviews__btn">Написать отзыв</a>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="reviews-item">
                    <div class="reviews-item__top">
                        <div class="reviews-item__top-left">
                            <div class="reviews-item__date">14.06.2019</div>
                            <div class="reviews-item__name">Филаретова Наталия Евгеньевна</div>
                        </div>
                        <div class="reviews-program__item-rating">
                            <span class="icon-star-review"></span>
                            <span class="icon-star-review"></span>
                            <span class="icon-star-review"></span>
                            <span class="icon-star-review"></span>
                            <span class="icon-star-review_2"></span>
                        </div>
                    </div>
                    <div class="index-reviews__bottom">
                        <div class="index-reviews__content-container">
                            <div class="index-reviews__content">
                                Добрый день! Проходила лечение в вашем санатории 15 дней с 22 апреля 2019,(договорная) как раз
                                попала на майские праздники, и была удивлена, что многие процедуры в эти дни просто отсутствовали,
                                я из Москвы, и лечилась в санаториях Подмосковья( не МО), и там нерабочие дни, были только один или два,
                                если это праздники! Ещё и аппарат, на котором мне проводились процедуры сломался, один электрод вышел из
                                строя, но процедуры продолжались, но не в полном объеме, А так,в целом, осталась довольна лечением, хочу
                                сказать огромнейшие! слова благодарности моему лечащему доктору Фаризе Адыловне! всем мёд.сестрам 8 отделени,
                                горничным, администраторам,неврологу- Олегу Владимировичу, Проценко Светлане из приемного отделения.
                                Официанткам - Татьяне и Веронике. Всем желаю успехов в работе, крепкого здоровья, удачи! И до новых встреч!
                            </div>
                            <span></span>
                        </div>
                        <div class="index-reviews__flex">
                            <div class="index-reviews__link">Читать полностью</div>
                        </div>
                        <div class="answer-link answers-link">
                            Ответить
                        </div>
                        <form action="#" class="answer-form">
                            <div class="answer-form__top">
                                <div class="answer-item">
                                    <input type="text" placeholder="Имя" class="answer-item__input">
                                </div>
                                <div class="answer-item">
                                    <input type="tel" placeholder="Телефон" class="answer-item__input phone">
                                </div>
                            </div>
                            <div class="answer-form__bottom">
                                <div class="answer-item__textarea">
                                    <textarea placeholder="Ваш ответ"></textarea>
                                </div>
                                <div class="answer-form__bottom-right">
                                    <input type="submit" value="Ответить" class="btn btn-light">
                                    <div class="check">
                                        <div class="check-container">
                                            <input type="checkbox" id="checks" checked>
                                            <span></span>
                                        </div>
                                        <label for="checks">Даю своё согласие на <br> обработку персональных <br> данных</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="answer-container">
                        <div class="answer-container__top">
                            <div class="answer-pic">
                                <img src="images/answer.jpg" alt="">
                            </div>
                            <div class="answer-info">
                                <div class="answer-name">Отвечает Менеджер санатория</div>
                                <div class="answer-city">СевероКавказский</div>
                            </div>
                        </div>
                        <div class="answer-description">
                            Добрый день благодарим за ваш отзыв. Будем рады видеть вас снова. Задача организации,
                            в особенности же постоянный количественный рост и сфера нашей активности представляет
                            собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! сложившаяся
                            структура организации требуют от нас анализа новых предложений.
                        </div>
                        <div class="answer-flex">
                            <div class="answer-flex__left">
                                <div class="answers-link">
                                    Ответить
                                </div>
                                <form action="#" class="answer-form">
                                    <div class="answer-form__top">
                                        <div class="answer-item">
                                            <input type="text" placeholder="Имя" class="answer-item__input">
                                        </div>
                                        <div class="answer-item">
                                            <input type="tel" placeholder="Телефон" class="answer-item__input phone">
                                        </div>
                                    </div>
                                    <div class="answer-form__bottom">
                                        <div class="answer-item__textarea">
                                            <textarea placeholder="Ваш ответ"></textarea>
                                        </div>
                                        <div class="answer-form__bottom-right">
                                            <input type="submit" value="Ответить" class="btn btn-light">
                                            <div class="check">
                                                <div class="check-container">
                                                    <input type="checkbox" id="checks" checked>
                                                    <span></span>
                                                </div>
                                                <label for="checks">Даю своё согласие на <br> обработку персональных <br> данных</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="answer-flex__right">
                                <div class="answer-flex__icon"></div>
                                Показать все ответы (33)
                            </div>
                        </div>
                        <div class="answer-item__elem">
                            <div class="answer-container__top">
                                <div class="answer-pic">
                                    <img src="images/answer.jpg" alt="">
                                </div>
                                <div class="answer-info">
                                    <div class="answer-name">Отвечает Менеджер санатория</div>
                                    <div class="answer-date">Ответ написан 15 апреля 2019</div>
                                </div>
                            </div>
                            <div class="answer-description">
                                Добрый день благодарим за ваш отзыв. Будем рады видеть вас снова. Задача организации,
                                в особенности же постоянный количественный рост и сфера нашей активности представляет
                                собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! сложившаяся
                                структура организации требуют от нас анализа новых предложений.
                            </div>
                        </div>
                        <div class="answer-item__elem">
                            <div class="answer-container__top">
                                <div class="answer-pic">
                                    <img src="images/answer.jpg" alt="">
                                </div>
                                <div class="answer-info">
                                    <div class="answer-name">Отвечает Менеджер санатория</div>
                                    <div class="answer-date">Ответ написан 15 апреля 2019</div>
                                </div>
                            </div>
                            <div class="answer-description">
                                Добрый день благодарим за ваш отзыв. Будем рады видеть вас снова. Задача организации,
                                в особенности же постоянный количественный рост и сфера нашей активности представляет
                                собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! сложившаяся
                                структура организации требуют от нас анализа новых предложений.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews-item">
                    <div class="reviews-item__top">
                        <div class="reviews-item__top-left">
                            <div class="reviews-item__date">14.06.2019</div>
                            <div class="reviews-item__name">Филаретова Наталия Евгеньевна</div>
                        </div>
                        <div class="reviews-program__item-rating">
                            <span class="icon-star-review"></span>
                            <span class="icon-star-review"></span>
                            <span class="icon-star-review"></span>
                            <span class="icon-star-review"></span>
                            <span class="icon-star-review_2"></span>
                        </div>
                    </div>
                    <div class="index-reviews__bottom">
                        <div class="index-reviews__content-container">
                            <div class="index-reviews__content">
                                Добрый день! Проходила лечение в вашем санатории 15 дней с 22 апреля 2019,(договорная) как раз
                                попала на майские праздники, и была удивлена, что многие процедуры в эти дни просто отсутствовали,
                                я из Москвы, и лечилась в санаториях Подмосковья( не МО), и там нерабочие дни, были только один или два,
                                если это праздники! Ещё и аппарат, на котором мне проводились процедуры сломался, один электрод вышел из
                                строя, но процедуры продолжались, но не в полном объеме, А так,в целом, осталась довольна лечением, хочу
                                сказать огромнейшие! слова благодарности моему лечащему доктору Фаризе Адыловне! всем мёд.сестрам 8 отделени,
                                горничным, администраторам,неврологу- Олегу Владимировичу, Проценко Светлане из приемного отделения.
                                Официанткам - Татьяне и Веронике. Всем желаю успехов в работе, крепкого здоровья, удачи! И до новых встреч!
                            </div>
                            <span></span>
                        </div>
                        <div class="index-reviews__flex">
                            <div class="index-reviews__link">Читать полностью</div>
                        </div>
                        <div class="answer-link answers-link">
                            Ответить
                        </div>
                        <form action="#" class="answer-form">
                            <div class="answer-form__top">
                                <div class="answer-item">
                                    <input type="text" placeholder="Имя" class="answer-item__input">
                                </div>
                                <div class="answer-item">
                                    <input type="tel" placeholder="Телефон" class="answer-item__input phone">
                                </div>
                            </div>
                            <div class="answer-form__bottom">
                                <div class="answer-item__textarea">
                                    <textarea placeholder="Ваш ответ"></textarea>
                                </div>
                                <div class="answer-form__bottom-right">
                                    <input type="submit" value="Ответить" class="btn btn-light">
                                    <div class="check">
                                        <div class="check-container">
                                            <input type="checkbox" id="checks" checked>
                                            <span></span>
                                        </div>
                                        <label for="checks">Даю своё согласие на <br> обработку персональных <br> данных</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="reviews-pic__items">
                        <a href="images/pic.jpg" data-fancybox="images" class="reviews-pic__item">
                            <img src="images/pic.jpg" alt="">
                        </a>
                        <a href="images/pic.jpg" data-fancybox="images" class="reviews-pic__item">
                            <img src="images/pic.jpg" alt="">
                        </a>
                        <a href="images/pic.jpg" data-fancybox="images" class="reviews-pic__item">
                            <img src="images/pic.jpg" alt="">
                        </a>
                        <a href="images/pic.jpg" data-fancybox="images" class="reviews-pic__item">
                            <img src="images/pic.jpg" alt="">
                        </a>
                    </div>
                </div>
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link page-link__dots" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>