@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('AvenirNextCyr-Medium.eot');
  src: url('AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
       url('AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg'),
       url('AvenirNextCyr-Medium.ttf') format('truetype'),
       url('AvenirNextCyr-Medium.woff') format('woff'),
       url('AvenirNextCyr-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

