
// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:     15px !default;
$font-size-root-sm:  15px !default;
$font-size-root-md:  15px !default;
$font-size-root-lg:  15px !default;
$font-size-root-xl:  15px !default;
$font-size-rem-size: $font-size-root-xl !default;




