h1, .h1{
  color: $color-7;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  margin: 0;
}

h2, .h2{
  color: $color-3;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
}

h3{
  color: $color-3;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

h4{
  color: $color-3;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  line-height: 26px;
}

h5{
  color: $color-3;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  line-height: 26px;
}

hr {
  margin: 0;
  border: 0;
}

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

.list-unstyled {
  @include list-unstyled;
}
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

p{
  line-height: 24px;
}

.content {
  p {
    margin-bottom: 1rem;
  }
  ol,ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}
