.bread{
  background-color: $color-8;
  padding: 35px 0;
  h1, .h1{
    margin-top: 5px;
    text-align: center;
  }
}

.breadcrumb{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.breadcrumb-item{
  &:after{
    content: '•';
    margin: 0 6px;
  }
  &:last-child{
    &:after{
      content: none;
    }
  }
  a{
    &:hover{
      color: $color-3;
    }
  }
}