.contact-number__left{
  width: 100%;
  display: flex;
  background-color: $color-8;
  border-radius: 10px;
  padding: 40px;
  justify-content: space-between;
}

.contact-number__right{
  padding: 40px 20px;
  border: 1.5px dotted $color-3;
  border-radius: 10px;
  height: 100%;
  h4{
    margin-bottom: 15px;
  }
}

.schedule{
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  background-color: $color-4;
  margin-top: 30px;
}

.schedule-item__description{
  font-size: 16px;
}

.schedule-item__title{
  font-size: 16px;
  font-weight: 700;
}

.contact-number__left-column{
  h4{
    margin-bottom: 15px;
  }
  &:first-child{
    flex-basis: 40%;
  }
  &:last-child{
    flex-basis: 55%;
  }
}

.contact-number__left-phone{
  flex-direction: column;
  display: flex;
  margin-bottom: 15px;
}

.contact-number__left-phone-n{
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  &:hover{
    color: $color-3;
  }
}

.contact-number__left-email{
  a{
    text-decoration: underline;
    color: $color-3;
    &:hover{
      text-decoration: none;
    }
  }
}

.contact-personal{
  margin-top: 50px;
}

.contact-personal__items{
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contact-personal__item{
  margin: 30px 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 18%;
}

.contact-personal__name{
  color: $color-3;
  margin-top: 10px;
  font-weight: 700;
  line-height: 21px;
}

.contact-personal__person{
  line-height: 20px;
  margin-top: 6px;
}

.chief-container{
  display: flex;
  align-items: center !important;
  flex-direction: row !important;
  font-size: 16px;
  line-height: 22px;
}

.chief-pic{
  border-radius: 50%;
  margin-right: 12px;
}

.chief-title{
  color: $color-7;
  font-weight: 700;
}

.chief-position{
  color: $color-3;
  font-weight: 700;
}

.maps-container{
  margin-top: 100px;
}

.chief-phone{
  a{
    &:hover{
      color: $color-3;
    }
  }
}

.contact-map__container{
  background-color: white;
}

.map-container{
  width: 100%;
  height: 450px;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  #map{
    width: 100%;
    height: 100%;
  }
}

.get-to{
  background-color: $color-8;
  padding: 224px 0 260px;
  margin-top: -166px;
}

.get-to__item{
  background-color: white;
  position: relative;
  padding: 35px 40px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 9px 22px rgba(105, 169, 216, 0.17);
  .index-star_4{
    font-size: 27rem;
    top: auto;
    bottom: -205px;
    right: -100px;
  }
  .index-star_5{
    font-size: 22rem;
    top: auto;
    right: -66px;
    bottom: -150px;
  }
  .icon-departures{
    font-size: 4.9rem;
    margin: 0;
  }
  .icon-train{
    font-size: 4.7rem;
  }
  .icon-car{
    font-size: 5rem;
    transform: rotateY(180deg);
    margin-right: -17px;
  }
}

.get-to__item-icon{
  background-color: $color-4;
  opacity: .95;
  width: 57px;
  height: 58px;
  border-radius: 50%;
  margin-bottom: 15px;
  font-size: 4rem;
  color: $color-3;
  span{
    display: block;
    margin-top: -3px;
    margin-left: -3px;
  }
}

.get-to__item-title{
  color: $color-3;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 24px;
}

.get-to__item-description{
  line-height: 22px;
}

.contact-form{
  background-image: linear-gradient(to right, $color-15 0%, $color-3 100%);
  border-radius: 15px;
  padding: 65px 20%;
  margin-top: -200px;
  overflow: hidden;
  position: relative;
  &:before{
    position: absolute;
    right: -50px;
    top: 0px;
    content: url(../images/index-about.png);
    opacity: .55;
  }
}

.contact-form__title{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-form__flex{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.contact-form__item{
  flex-basis: 49%;
}

.get-to__item-content{
  position: relative;
  z-index: 1;
}

.contact-form__input{
  height: 55px;
  background-color: white;
  border-radius: 5px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  &::placeholder{
    color: #666 !important;
    font-family: 'AvenirNextCyr';
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
  }
}

.contact-form__textarea{
  height: 115px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  padding: 9px 15px;
  font-size: 16px;
  resize: none;
  border: none;
  &::placeholder{
    color: #666 !important;
    font-family: 'AvenirNextCyr';
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
  }
}

.contact-form__btn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact-form__submit{
  color: $color-3;
  width: 200px;
  margin-right: 20px;
  font-weight: 700;
}

.check{
  display: flex;
  align-items: flex-start;
  color: white;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  label{
    margin-top: -2px;
  }
}

.check-container{
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #e0f0f5;
  border-radius: 3px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  input{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    z-index: 1;
    opacity: 0;
    &:checked + span{
      &:before{
        content: url("../images/check.png");
      }
    }
  }
  span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }
}