@font-face {
	font-family: "AvenirNextCyr";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Light/AvenirNextCyr-Light.eot");
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Light/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Light/AvenirNextCyr-Light.woff") format("woff"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Light/AvenirNextCyr-Light.woff2") format("woff2"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Light/AvenirNextCyr-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "AvenirNextCyr";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot");
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular/AvenirNextCyr-Regular.woff") format("woff"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular/AvenirNextCyr-Regular.woff2") format("woff2"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular/AvenirNextCyr-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "AvenirNextCyr";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium/AvenirNextCyr-Medium.eot");
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium/AvenirNextCyr-Medium.woff") format("woff"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium/AvenirNextCyr-Medium.woff2") format("woff2"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium/AvenirNextCyr-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "AvenirNextCyr";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot");
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff") format("woff"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff2") format("woff2"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi/AvenirNextCyr-Demi.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "AvenirNextCyr";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot");
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff") format("woff"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff2") format("woff2"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold/AvenirNextCyr-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon/icomoon.eot?r6b7gx');
	src:  url('../fonts/icomoon/icomoon.eot?r6b7gx#iefix') format('embedded-opentype'),
	url('../fonts/icomoon/icomoon.ttf?r6b7gx') format('truetype'),
	url('../fonts/icomoon/icomoon.woff?r6b7gx') format('woff'),
	url('../fonts/icomoon/icomoon.svg?r6b7gx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-woman_21:before {
	content: "\e935";
	color: $color-3;
}
.icon-checked-symbol:before {
	content: "\e92f";
}
.icon-info:before {
	content: "\e930";
	color: $color-3;
}
.icon-man:before {
	content: "\e931";
	color: $color-3;
}
.icon-man_2:before {
	content: "\e932";
	color: $color-3;
}
.icon-woman:before {
	content: "\e933";
	color: $color-3;
}
.icon-arrow:before {
	content: "\e924";
	color: $color-3;
}
.icon-bedroom:before {
	content: "\e925";
	color: $color-3;
}
.icon-calendar-icon:before {
	content: "\e926";
	color: $color-3;
}
.icon-home-page:before {
	content: "\e927";
	color: $color-3;
}
.icon-restaurant:before {
	content: "\e928";
	color: $color-3;
}
.icon-star-light1:before {
	content: "\e929";
	color: $color-28;
}
.icon-star-review:before {
	content: "\e92a";
	color: $color-3;
}
.icon-star-review_2:before {
	content: "\e92b";
	color: $color-3;
}
.icon-stethoscope:before {
	content: "\e92c";
	color: $color-3;
}
.icon-swimming-pool:before {
	content: "\e92d";
	color: $color-3;
}
.icon-two_Arrow_941551:before {
	content: "\e92e";
	color: $color-28;
}
.icon-car:before {
	content: "\e902";
}
.icon-clock-circular-outline:before {
	content: "\e903";
}
.icon-departures:before {
	content: "\e904";
}
.icon-download:before {
	content: "\e905";
}
.icon-female-and-male-silhouettes-with-a-vertical-line-in-the-middle:before {
	content: "\e906";
}
.icon-hospital:before {
	content: "\e907";
}
.icon-icons8-ask-question-96 .path1:before {
	content: "\e908";
	color: rgb(0, 0, 0);
}
.icon-icons8-ask-question-96 .path2:before {
	content: "\e909";
	margin-left: -0.9951171875em;
	color: rgb(253, 253, 253);
}
.icon-icons8-ask-question-96 .path3:before {
	content: "\e90a";
	margin-left: -0.9951171875em;
	color: rgb(254, 254, 254);
}
.icon-icons8-doctor-male-90 .path1:before {
	content: "\e90b";
	color: rgb(0, 0, 0);
}
.icon-icons8-doctor-male-90 .path2:before {
	content: "\e90c";
	margin-left: -0.7470703125em;
	color: rgb(12, 12, 12);
}
.icon-icons8-eye-96:before {
	content: "\e90d";
}
.icon-noun_Arrow_941551:before {
	content: "\e90e";
}
.icon-noun_Money_1199808:before {
	content: "\e90f";
}
.icon-star:before {
	content: "\e910";
	color: #ed8a19;
}
.icon-swimming-pool-1:before {
	content: "\e911";
}
.icon-train:before {
	content: "\e912";
}
.icon-trash-can:before {
	content: "\e913";
}
.icon--2 .path1:before {
	content: "\e914";
	color: rgb(62, 16, 123);
}
.icon--2 .path2:before {
	content: "\e915";
	margin-left: -1.0361328125em;
	color: rgb(62, 16, 123);
}
.icon--2 .path3:before {
	content: "\e916";
	margin-left: -1.0361328125em;
	color: rgb(221, 42, 32);
}
.icon--2 .path4:before {
	content: "\e917";
	margin-left: -1.0361328125em;
	color: rgb(221, 42, 32);
}
.icon--2 .path5:before {
	content: "\e918";
	margin-left: -1.0361328125em;
	color: rgb(221, 42, 32);
}
.icon--2 .path6:before {
	content: "\e919";
	margin-left: -1.0361328125em;
	color: rgb(62, 16, 123);
}
.icon--2 .path7:before {
	content: "\e91a";
	margin-left: -1.0361328125em;
	color: rgb(62, 16, 123);
}
.icon--2 .path8:before {
	content: "\e91b";
	margin-left: -1.0361328125em;
	color: rgb(62, 16, 123);
}
.icon--2 .path9:before {
	content: "\e91c";
	margin-left: -1.0361328125em;
	color: rgb(62, 16, 123);
}
.icon--2 .path10:before {
	content: "\e91d";
	margin-left: -1.0361328125em;
	color: rgb(62, 16, 123);
}
.icon--2 .path11:before {
	content: "\e91e";
	margin-left: -1.0361328125em;
	color: rgb(221, 42, 32);
}
.icon--2 .path12:before {
	content: "\e91f";
	margin-left: -1.0361328125em;
	color: rgb(221, 42, 32);
}
.icon--2 .path13:before {
	content: "\e920";
	margin-left: -1.0361328125em;
	color: rgb(221, 42, 32);
}
.icon--2 .path14:before {
	content: "\e921";
	margin-left: -1.0361328125em;
	color: rgb(62, 16, 123);
}
.icon--2 .path15:before {
	content: "\e922";
	margin-left: -1.0361328125em;
	color: rgb(62, 16, 123);
}
.icon--2 .path16:before {
	content: "\e923";
	margin-left: -1.0361328125em;
	color: rgb(62, 16, 123);
}
.icon-arrow-point-to-right:before {
	content: "\e900";
}
.icon-text-quotes:before {
	content: "\e901";
}
