footer{
  background-color: $color-8;
  padding: 40px 0;
  margin-top: 68px;
}

.footer-defense{
  color: black;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  img{
    margin-right: 8px;
  }
}

.footer-logo__title{
  color: black;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.footer-logo__description{
  color: $color-3;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
}

.footer-filial{
  display: flex;
}

.footer-filial__left{
  display: flex;
  flex-direction: column;
  span{
    line-height: 28px;
    &:first-child{
      color: black;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
    &:last-child{
      color: #666;
      font-size: 14px;
    }
  }
}

.footer-filial__right{
  margin-left: 40px;
}

.footer-phone{
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 28px;
}

.footer-contact{
  color: $color-3;
  font-size: 15px;
  font-weight: 300;
  text-decoration: underline;
  line-height: 28px;
}

.footer-bottom{
  display: flex;
  align-items: center;
  .btn{
    font-size: 11px;
  }
  .btn-light{
    width: 170px;
    margin-right: 18px;
  }
  .btn-heavy{
    width: 210px;
  }
}

.footer-street{
  margin-bottom: 40px;
  margin-top: 20px;
}

.footer-menu__items{
  list-style: none;
}

.footer-menu__link{
  color: $color-3;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.footer-menu__link-big{
  color: $color-7;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
  display: block;
}

.footer-link{
  color: $color-2;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}

.footer-form{
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.footer-form__input{
  width: 100%;
  height: 45px;
  background-color: white;
  border: 1px solid $color-1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 90px 0 13px;
  font-size: 15px;

  &::placeholder{
    color: #666 !important;
    font-family: 'AvenirNextCyr';
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 16px;
  }
}

.footer-submit{
  position: absolute;
  color: white;
  text-align: center;
  width: 70px;
  height: 100%;
  right: 0;
  top: 0;
  font-size: 11px;
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
}

.russian{
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 17px 24px rgba(0, 47, 66, 0.27);
  display: flex;
  align-items: center;
  padding: 12px;
}

.russian-pic{
  width: 53px;
  flex-shrink: 0;
}

.russian-text{
  color: black;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 12px;
}

.contraindications{
  color: #666;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}