.gldp-default {
	position: absolute;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0.7px 3.9px 34px rgba(0, 128, 201, 0.17);
	min-width: 295px;
	padding: 25px;
}

/* Core style for every cell */
.gldp-default .core {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	float: left;
	margin: 0;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	padding: 5px;
	width: 35px !important;
	height: 35px !important;
	background-color: transparent;
	border: none !important;
	color: $color-3;
	font-weight: 400;
}

.core.border.outday:nth-child(11){
	display: none;
}

.core.border.monyear{
	width: 10% !important;
}

.core.border.monyear.title{
	width: 80% !important;
}

/* Cell border */
.gldp-default .border {
	border-style: solid;
	border-width: 0;
	border-color: #888;
}

/* Month/Year text and select */
.gldp-default .monyear,
.gldp-default .monyear select {
	font-size: 16px !important;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
}

/* Month/Year text */
.gldp-default .monyear span {
	margin: 0 5px 0 5px;
	color: $color-3;
}

.prev-arrow{
	&:before{
		content: url("../images/arrow.png");
	}
}

.next-arrow{
	&:before{
		transform: rotate(180deg);
		display: block;
		content: url("../images/arrow.png");
	}
}

/* Prev/Next arrows */
.gldp-default .prev-arrow,
.gldp-default .next-arrow {
	color: $blue;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
}

.gldp-default .prev-arrow:active,
.gldp-default .next-arrow:active {
	color: #f00;
}

.gldp-default .prev-arrow-off,
.gldp-default .next-arrow-off {
	color: #222;
	opacity: 0.15;
}

/* Days of the week */
.gldp-default .dow {
	color: $color-3;
	font-weight: 700;
	cursor: default;
	background-color: white;
}

.gldp-default .outday{

}

/* Weekend days */
.gldp-default .sat,
.gldp-default .sun {
	color: $color-7;
}

/* Selectable days that are outside of current month being shown */
.gldp-default .outday {
	color: #c4c4c4 !important;
}

/* Hover */
.gldp-default .mon:hover,
.gldp-default .tue:hover,
.gldp-default .wed:hover,
.gldp-default .thu:hover,
.gldp-default .fri:hover,
.gldp-default .sat:hover,
.gldp-default .sun:hover {
	background: $color-3;
	border-radius: 50%;
	color: white !important;
	text-shadow: none;
}

/* Non-Selectable days */
.gldp-default .noday {
	color: #444;
	font-weight: normal;
	cursor: wait !important;
	background: #aaaaaa;
	background: -moz-linear-gradient(top,  #aaaaaa 0%, #8a8a8a 98%, #aaaaaa 99%, #8a8a8a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(98%,#8a8a8a), color-stop(99%,#aaaaaa), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aaaaaa 0%,#8a8a8a 98%,#aaaaaa 99%,#8a8a8a 100%);
	background: -o-linear-gradient(top,  #aaaaaa 0%,#8a8a8a 98%,#aaaaaa 99%,#8a8a8a 100%);
	background: -ms-linear-gradient(top,  #aaaaaa 0%,#8a8a8a 98%,#aaaaaa 99%,#8a8a8a 100%);
	background: linear-gradient(to bottom,  #aaaaaa 0%,#8a8a8a 98%,#aaaaaa 99%,#8a8a8a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#8a8a8a',GradientType=0 );
}

/* Currently selected day */
.gldp-default .selected {
	color: #fff;
	background-color: $color-3;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 128, 201, 0.39);
}

/* Today */
.gldp-default .today {
	color: #fff;
	background: $color-3;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 128, 201, 0.39);
}

/* Special */
.gldp-default .special {

}
