header{
  z-index: 5;
}

.header-top {
  background-color: $color-8;
  padding: 24px 0 14px;
}

.header-container {
  display: flex;
  align-items: center;
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
}

.header-container__left {
  display: flex;
  align-items: center;
}

.header-container__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 50%;
}

.ministry {
  display: flex;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-right: 4%;
}

.ministry-img {
  margin-right: 12px;
}

.home-link {
  position: relative;
  font-size: 1.3rem;
  margin-right: 3%;
  &:hover {
    .home-link__hint {
      display: block;
    }
  }
}

.home-link__hint {
  position: absolute;
  top: 137%;
  left: -47px;
  display: none;
  width: 120px;
  background-color: $color-1;
  border-radius: 3px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.22);
  color: white;
  font-size: 0.7333rem;
  font-weight: 500;
  padding: 0 4px;
  line-height: 16px;
  &:before {
    position: absolute;
    top: -14px;
    left: 42%;
    content: '';
    border: 7px solid transparent;
    border-bottom: 7px solid $color-1;
  }
}

.branch-container {
  display: flex;
  align-items: center;
}

.branch-label {
  font-size: 0.8667rem;
  margin-right: 10px;
}

.branch-select__default {
  width: 170px;
  height: 30px;
  background-color: white;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  span {
    padding: 0 33px 0 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8667rem;
  }
  &:before {
    content: '\e900';
    font-family: 'icomoon';
    color: #bababa;
    position: absolute;
    right: 11px;
    font-size: .4rem;
    transition: .25s;
    transform: rotate(90deg);
  }
  &.active {
    &:before {
      transform: rotate(-90deg);
    }
  }
}

.branch-select {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .22);
}

.branch-select__items-hidden {
  position: absolute;
  top: 83%;
  left: 0;
  height: 0;
  overflow: hidden;
  transition: .25s;
  box-shadow: 4px 11px 11px rgba(0, 0, 0, .1);
  border-radius: 0 0 8px 8px;
}

.header-container__left {
  flex-basis: 50%;
  padding-top: 8px;
}

.branch-select__items {
  background-color: white;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
}

.branch-select__item {
  padding: 4px 13px;
  font-size: 0.8667rem;
  line-height: 17px;
  display: block;
  &:hover {
    color: $color-1;
  }
  &.active {
    display: none;
  }
  &:last-child {
    padding-bottom: 12px;
  }
}

.header-questions {

}

.header-link__text {
  color: $color-2;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
}

.icons-header {
  color: $color-3;
  margin-right: 6px;
  .path1 {
    &:before {
      color: $color-3;
    }
  }
  &.icon-text-quotes {
    font-size: 1.4rem;
  }
}

.header-link__container {
  margin-right: 7.5%;
  display: flex;
  align-items: center;
  &:hover {
    .header-link__text {
      text-decoration: none;
    }

  }
}

.header-logo__pic {
  font-size: 4rem;
  span {
    &:before {
      color: $color-3 !important;
    }
  }
}

.header-info {
  background-color: $color-8;
  padding-bottom: 7px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__text {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.header-logo__title {
  color: black;
  font-size: 15px;
  font-weight: 300;
}

.header-logo__description {
  color: $color-3;
  font-size: 24px;
  font-weight: 700;
}

.official {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 25px;
  padding-bottom: 16px;
}

.header-phone {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.header-phone__link {
  color: black;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    color: $color-3;
  }
}

.header-filial {
  color: #666;
  font-size: 14px;
  line-height: 26px;
}

.header-armor {
  background-color: $color-3;
  box-shadow: inset 0 3px 11px rgba(20, 20, 20, 0.2);
  padding: 0;
  transition: .25s;
  height: 0;
  overflow: hidden;
  &.active{
    height: 90px;
    padding: 15px 0;
  }
}

.header-armor__container {
  display: flex;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
}

.header-armor__title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.header-armor__description {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.header-data {
  width: 180px;
  height: 55px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  input {
    background: transparent;
    padding: 4px 15px;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    line-height: 24px;
    &::placeholder {
      font-family: 'AvenirNextCyr';
      color: #666 !important;
      font-size: 16px;
      font-weight: 300;
      font-style: italic;
    }
  }
  &:before {
    content: "\e926";
    font-family: 'icomoon';
    color: $color-3;
    position: absolute;
    right: 10px;
    font-size: 1.5rem;
  }
}

input {
  outline: none;
  border: none;
}

.arrow-form {
  margin: 0 15px;
  font-size: 1.5rem;
}

.header-select__container {
  display: flex;
  align-items: center;
  margin-left: 4%;
}

.header-sbm {
  margin-left: 4%;
}

.header-sbm__btn {
  width: 170px;
  height: 51px;
  border-radius: 8px;
  color: $color-3;
  font-weight: 700;
  font-family: 'AvenirNextCyr';
}

.header-form {
  display: flex;
  align-items: center;
  flex-basis: 65%;
}

.header-menu__item {
  height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  position: relative;
  &:after{
    content: '\e929';
    font-family: 'icomoon';
    color: $color-4;
    position: absolute;
    right: -30px;
  }
  &:last-child{
    &:after{
      content: none;
    }
  }
  &.active, &:hover {
    background-color: $color-3;
    .header-menu__link{
      color: white;
    }
  }
}

.header-menu{
  margin: 0 auto;
}

.header-menu__items{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-menu__item-submenu {
  .header-menu__link {
    &:after {
      content: '\e924';
      font-family: 'icomoon';
      transform: rotate(0deg);
      font-size: .3rem;
      color: $color-3;
      margin-left: 6px;
      transition: .25s;
    }
  }
  &.active, &:hover{
    background-color: $color-3;
    .header-menu__link{
      color: white;
      &:after{
        color: white;
        transform: rotate(-180deg);
      }
    }
  }
  &:hover{
    .header-submenu{
      display: block;
    }
  }
}

.header-menu__link{
  color: $color-3;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  height: 100%;
}

.header-submenu{
  position: absolute;
  top: 100%;
  background-color: $color-8;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  width: 240px;
  list-style: none;
  border-radius: 0 0 8px 8px;
  left: 0;
  display: none;
}

.header-submenu__link{
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 7px 20px;
  display: block;
  width: 100%;
  font-weight: 500;
  &:hover, &.active{
    color: $color-3;
  }
}

.header-submenu__link-dop{
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 7px 20px;
  display: block;
  width: 100%;
  font-weight: 500;
  &:hover, &.active{
    color: $color-3;
  }
}

.header-submenu__item-dop{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  &:after{
    content: '\e924';
    font-family: 'icomoon';
    font-size: .3rem;
    display: block;
    color: black;
    transition: .25s;
    padding-bottom: 20px;
    position: absolute;
    right: 5px;
    transform: rotate(-90deg);
  }
  &:hover, &.active{
    .header-submenu__link{
      color: $color-3;
      font-weight: 700;
      &:after{
        color: $color-3;
      }
    }
    &:after{
      color: $color-3;
    }
  }
  &:hover{
    .header-submenu__three{
      display: block;
    }
  }
}

header{
  &.active{
    padding-top: 60px;
    .header-menu__container{
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

.header-menu__container{
  transition: .25s;
  background-color: white;
  z-index: 5;
}

.header-submenu__three{
  position: absolute;
  top: 0;
  background-color: $color-8;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  width: 240px;
  list-style: none;
  border-radius: 8px;
  left: 100%;
  display: none;
}

.header-mobile{
  display: none;
}