.index-slider__item {
  height: 540px;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex !important;
  align-items: center;
}

.index-slider{
  .slick-arrow{
    border-radius: 0;
  }
}

.index-slider__container {
  width: 370px;
  background-color: $color-3;
  border-radius: 14px;
  padding: 30px 40px 60px;
  position: relative;
  overflow: hidden;
  margin: -30px 0 0 82px;
}

.index-slider__content {
  z-index: 4;
  position: relative;
}

.index-slider__title {
  color: white;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 43px;
}

.index-slider__description {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 30px;
}

.btn-index__slider {
  max-width: 180px;
  width: 100%;
  height: 55px;
}

.index-star_1 {
  position: absolute;
  color: $color-10;
  font-size: 36rem;
  top: -168px;
  right: -176px;
  &:before {
    content: '\e92a';
    font-family: 'icomoon';
  }
}

.index-star_2 {
  color: $color-11;
  font-size: 25rem;
  position: absolute;
  top: -46px;
  right: -89px;
  &:before {
    content: '\e92a';
    font-family: 'icomoon';
  }
}

.index-star_3 {
  color: $color-12;
  font-size: 15rem;
  position: absolute;
  top: 71px;
  right: -19px;
  &:before {
    content: '\e92a';
    font-family: 'icomoon';
  }
}

.index-services {
  margin: 66px 0;
}

.index-services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.index-services__pic {
  width: 95px;
  height: 95px;
  opacity: 0.95;
  background: $color-4;
  color: $color-3;
  font-size: 6rem;
  border-radius: 50%;

  span {
    margin-top: 5px;
    display: block;
  }
}

.index-services__title {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 20px;
}

.index-about__container {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  &:before {
    content: url("../images/index-about.png");
    position: absolute;
    right: -55px;
    bottom: -10px;
    opacity: .55;
  }
}

.index-about__top {
  padding: 40px;
  border-bottom: 1px solid #ddd;
}

.index-about__title {
  color: $color-3;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
}

.index-about__description {
  color: black;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.index-about__bottom {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.index-video__item{
  height: 501px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 8px 8px 0;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  color: white;
}

.index-video__container{
  position: relative;
}

.index-video__absolute{
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
}

.index-video__title{
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 10px;
}

.index-video__description{
  font-size: 14px;
  margin-bottom: 20px;
}

.index-video__link{
  width: 150px;
  height: 151px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 17px 24px rgba(0, 47, 66, 0.27);
  position: relative;
  overflow: hidden;
  &:before{
    content: url("../images/play.png");
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
  }
  img{
    width: 100%;
    height: 100%;
    transition: .25s;
    max-width: inherit;
  }
  &:hover{
    img{
      width: 105%;
      height: 105%;
    }
  }
}

.index-program{
  margin-top: 55px;
  .slick-track{
    display: flex !important;
  }
}

.index-title{
  color: $color-3;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 25px;
  text-align: center;
}

.index-description{
  background-color: $color-8;
  border-radius: 10px;
  padding: 15px 37px;
  font-size: 15px;
  line-height: 22px;
}

.index-program__item-pic{
  width: 100%;
  height: 224px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.index-program__item-content{
  position: relative;
  background-color: $color-8;
  width: 100%;
  overflow: hidden;
  height: calc(100% - 224px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-program__item-description{
  padding: 32px 18px;
  line-height: 24px;

  position: relative;
  z-index: 1;
}

.index-program__item-price{
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  padding: 18px;
}

.index-program__item-link{
  display: none;
}

.index-program__item-price-number{
  color: $color-3;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.index-program__item{
  margin: 0 15px;
  border-radius: 8px;
  overflow: hidden;
  height: inherit;
  &:hover{
    transform: translateY(-10px);
  }
}

.index-program__items{
  .slick-arrow{
    top: -51px;
    right: 0;
    background-color: $color-3;
    color: white;
    &.icon-left{
      left: auto;
      right: 52px;
    }
    &:hover{
      background-color: $color-11;
    }
  }
  .slick-list{
    padding: 40px 0 0;
    margin: 0 -15px;
  }
}

.index-star_4{
  font-size: 19rem;
  position: absolute;
  top: -82px;
  right: -59px;
  color: $color-13;
  &:before{
    font-family: 'icomoon';
    content: '\e92a';
  }
}

.index-star_5{
  font-size: 14rem;
  position: absolute;
  top: -25px;
  right: -21px;
  color: $color-14;
  &:before{
    font-family: 'icomoon';
    content: '\e92a';
  }
}

.index-life{
  margin-top: 80px;
  background-color: $color-8;
  padding: 82px 0 52px;
}

.index-price__info{
  margin-top: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.index-price__info-title{
  color: $color-3;
  flex-basis: 22%;
  font-size: 20px;
  font-weight: 700;
}

.index-price__info-items{
    flex-basis: 48%;
}

.index-price__info-btn{
  flex-basis: 32%;
  display: flex;
  align-items: center;
  .btn{
    height: 55px;
  }
  .btn-light{
    width: 210px;
  }
  .btn-heavy{
    width: 170px;
    margin-left: 10px;
  }
}

.index-price__info-items{
  display: flex;
  flex-flow: row wrap;
}

.index-price__info-item{
  flex-basis: 50%;
  padding-right: 2%;
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.index-price__info-item-pic{
  font-size: 2.3rem;
  color: $color-3;
  display: flex;
  align-items: center;
}

.index-price__info-item-title{
  color: black;
  font-size: 15px;
  margin-left: 13px;
  line-height: 20px;
}

.booking-item__pic{
  width: 100%;
  height: 237px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.booking-item{
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: .25s;
  &:hover{
    box-shadow: 1px 4px 8px 0px #c9c9c9;
    .booking-item__content{
      transform: translateY(-75px);
    }
    .booking-item__hidden{
      bottom: 0;
    }
  }
}

.booking-item__content{
  padding: 28px;
  background-color: white;
  transition: .25s;
}

.booking-item__title{
  color: $color-7;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 3px;
  font-weight: 600;
}

.booking-item__price{
  color: $color-3;
  font-size: 20px;
  font-weight: 500;
}

.booking-item__hidden{
  padding: 15px 28px;
  transition: .25s;
  display: flex;
  justify-content: space-between;
  background-color: $color-4;
  align-items: center;
  position: absolute;
  bottom: -85px;
  width: 100%;
}

.booking-item__link{
  color: $color-3;
  font-size: 15px;
  text-decoration: underline;
}

.booking-item__action{
  background-color: $color-3;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.booking-item__action-title{
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.booking-item__action-description{
  color: white;
  font-size: 36px;
  font-weight: 300;
  line-height: 38px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.booking-item__action-btn{
  width: 179px;
  height: 45px;
  background-color: #def4f7;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

.booking-item__action{
  .index-star_1{
    font-size: 33rem;
    top: -178px;
    right: -167px;
  }
  .index-star_2{
    font-size: 27rem;
    top: -108px;
    right: -122px;
  }
  .index-star_3{
    font-size: 22rem;
    top: -49px;
    right: -84px;
  }
}

.clock{
  position: absolute;
  right: 0;
  bottom: 0;
}

.action-container{
  padding: 35px 70px;
  background-color: $color-3;
  position: relative;
  display: flex;
  align-items: flex-start;
  min-height: 170px;
  margin-top: -50px;
  border-radius: 14px;
  overflow: hidden;
  .clock{
    bottom: -25px;
    right: -10px;
  }
  .btn{
    position: relative;
    z-index: 1;
  }
}

.action-a{
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.action-content{
  margin: 0 5%;
}

.action-title{
  color: white;
  font-size: 36px;
  line-height: 34px;
  margin-bottom: 17px;
}

.action-description{
  color: white;
  font-size: 18px;
  line-height: 26px;
}

.services-index{
  margin-top: 83px;
}

.services-index__item{
  height: 230px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 30%;
  transition: .3s;
  cursor: pointer;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  &:before{
    content: '';
    background-color: $color-9;
    transition: .25s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  &:hover{
    animation: panorama 3s infinite ease-in-out alternate backwards;
   &:before{
     opacity: 1;
   }
    .services-index__item-title{
      color: $color-3;
      background-color: white;
    }
  }
}

.services-index__item-title{
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  background-color: $color-9;
  padding: 8px 15px;
  transition: .25s;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.services-index__item-absolute{
  position: absolute;
  top: 20px;
  left: 0;
  background-color: $color-4;
  padding: 4px 20px;
  color: $color-3;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  &:before{
    margin-right: 4px;
    content: '✔';
  }
}

@-webkit-keyframes panorama
{
  0%
  {
    background-position: 30%;
  }
  100%
  {
    background-position: 60%;
  }
}

@keyframes panorama
{
  0%
  {
    background-position: 30%;
  }
  100%
  {
    background-position: 100%;
  }
}

input[type='submit']{
  cursor: pointer;
}