.numbers-content{
  padding: 42px 40px 25px;
  background-color: $color-8;
}

.numbers-pic{
  border-radius: 15px;
  overflow: hidden;
  img{
    width: 100%;
  }
}

.numbers-container{
  border-radius: 0 15px 15px 0;
}

.numbers-link__container{
  padding: 40px;
  background-color: $color-14;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numbers-title{
  color: $color-7;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: underline;
  margin-bottom: 30px;
  display: block;
}

.numbers-description{
  line-height: 24px;
  margin-bottom: 30px;
}

.numbers-price{
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: $color-3;
}

.number-slider{
  border-radius: 15px;
  overflow: hidden;
  img{
    width: 100%;
  }
}

.numbers-link{
  color: $color-2;
  font-size: 15px;
  font-weight: 300;
  text-decoration: underline;
}

.number-content{
  border-radius: 0 15px 15px 0;
}

.number-content__top{
  padding: 40px 30px;
  background-color: $color-14;
  .number-flex{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn{
    flex-shrink: 0;
    margin-right: 10%;
  }
}

.number-description{
  padding: 40px 30px;
  background-color: $color-8;
  line-height: 24px;
}

.number-slider{
  .slick-arrow{
    border-radius: 0;
    left: 1%;
  }
  .icon-right{
    left: auto;
    right: 1%;
  }
  li{
    padding-left: 0 !important;
    &:after{
      content: none !important;
    }
  }
  .slick-dots{
    bottom: 25px;
  }
}

.number-info{
  background-image: linear-gradient(to top, $color-3 0%, $color-15 100%);
  border-radius: 14px;
  text-align: center;
  color: white;
}

.number-info__time-title{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.number-info__time-description{
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.number-info__time{
  border-bottom: 1px solid $color16;
  padding: 30px 20px 20px;
}

.number-info__pay{
  padding: 30px 20px 20px;
}

.number-facilities{
  padding: 46px;
  display: flex;
  justify-content: space-between;
  border: 1px solid $color16;
  border-radius: 14px;
  height: 100%;
}

.number-title__mobile{
  display: none;
  color: $color-7;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 28px;
}

.number-facilities__column{
  flex-basis: 29%;
}

.other-number{
  .booking-item__content{
    background-color: $color-8;
  }
}