.program-flex {
  display: flex;
  align-items: center;
  margin: 20px 0 50px;
  a {
    margin-left: 40px;
  }
}

.reviews-program__item {
  background-color: $color-8;
  border-radius: 14px;
  overflow: hidden;
}

.reviews-program__item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 34px 21px;
  border-bottom: 1px solid white;
}

.reviews-program__item-name {
  color: $color-7;
  font-size: 16px;
  font-weight: 700;
}

.reviews-program__item-rating {
  background-color: $color-17;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: .8rem;
  span {
    color: $color-3;
  }
}

.reviews-program__item-text {
  padding: 21px 34px 92px;
  line-height: 24px;
}

.reviews-program__container {
  position: relative;
  .slick-dots {
    justify-content: flex-start;
    padding-left: 31px;
    bottom: 30px;
    li {
      padding-left: 0;
      width: 11px;
      height: 11px;
      margin: 0 9px;
      &:before {
        background-color: $color-3;
        width: 11px;
        height: 11px;
      }
      &:after {
        content: none;
      }
      &.slick-active {
        width: 20px;
        border: 1px solid $color-3;
        height: 20px;
        &:before {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

.reviews-program__absolute {
  background-color: $color-1;
  position: absolute;
  bottom: 30px;
  right: 39px;
  font-size: 12px;
  color: white;
  border-radius: 8px;
  padding: 3px 10px;
  font-weight: 600;
  &:after {
    content: '\e90e';
    font-family: 'icomoon';
    font-size: .5rem;
    margin-left: .3rem;
  }
}

.procedure-item__pic {
  border-radius: 10px;
  box-shadow: 0 16px 28px rgba(0, 71, 112, 0.11);
  overflow: hidden;
}

.procedure-item__title {
  min-height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 11px rgba(0, 71, 112, 0.03);
  color: $color-3;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  margin-top: 10px;
  width: 100%;
}

.procedure {
  margin-top: 100px;
  padding: 76px 0 105px;
  background-color: $color-8;
}

.procedure-item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.recommendations-procedure__item {
  margin: 0 15px;
}

.recommendations-procedure {
  margin-top: 93px;
}

.recommendations-procedure__item-title {
  padding: 27px 10px 0;
  color: $color-7;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}

.recommendations-procedure__item-price {
  padding: 10px;
  color: $color-3;
  font-size: 18px;
}

.procedure-items, .recommendations-procedure__items {
  margin: 36px 0 0;
  position: relative;
  .slick-list {
    margin: 0 -15px;
  }
  .slick-arrow {
    top: -70px;
    right: 0;
    color: white;
    background-color: $color-3;
    &:hover {
      background-color: $color-11;
    }
  }
  .slick-arrow.icon-left {
    right: 52px;
    left: auto;
  }
}

.modal-program__item{
  max-width: 650px;
  text-align: center;
  display: none;
}

.modal-program__title{
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0;
}

.profile {
  padding: 76px 0;
}

.profile-item {
  padding: 17px 27px;
  display: flex;
  align-items: center;
  border-radius: 11px;
  height: 100%;
  font-weight: 600;
  color: white;
  font-size: 18px;
  line-height: 21px;
  background-color: $color-3;
  transition: .25s;
  &:hover{
    background-color: $color-18;
    color: white;
  }
}

.profile-item__pic {
  flex-basis: 70px;
  flex-shrink: 0;
}

.scroll {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}

.scroll-table {
  padding: 25px 46px;
  border: 1.5px dotted #0080c9;
  border-radius: 14px;
}

.scroll-table__tr {
  padding: 23px 13px;
  display: flex;
  align-items: flex-start;
  &:first-child {
    padding: 0 13px 22px;
  }
  &:nth-child(2n) {
    padding: 10px 13px;
    background-color: $color-8;
  }
}

.scroll-table__th {
  color: $color-3;
  font-size: 15px;
  font-weight: 600;
  &:nth-child(1) {
    flex-basis: 42%;
  }
  &:nth-child(2) {
    flex-basis: 39%;
  }
  &:nth-child(3) {

  }
}

.scroll-table__td {
  font-size: 15px;
  line-height: 18px;
  &:nth-child(1) {
    flex-basis: 42%;
    padding-right: 4%;
  }
  &:nth-child(2) {
    flex-basis: 39%;
  }
  &:nth-child(3) {

  }
}

.program-form {
  .contact-form {
    margin-top: 76px;
    padding: 60px 100px 26px;
    &:before {
      content: url("../images/form.png");
      bottom: 0px;
      top: auto;
    }
  }
  .contact-form__title {
    text-align: left;
  }

  .contact-form__item {
    flex-basis: 30%;
    margin-right: 10px;
  }
  .contact-form__submit {
    height: 55px;
  }
}

.booking-item__sidebar{
  background-color: $color-8;
  .booking-item__hidden {
    flex-direction: column;
    bottom: -106px;
  }
  .booking-item__link {
    margin-bottom: 10px;
  }
  &:hover .booking-item__content {
    transform: translateY(-106px) !important;
  }
  .booking-item__action-title, .booking-item__action-description {
    font-size: 24px;
    line-height: 30px;
  }
}

.leave-container {
  margin-top: -122px;
  padding: 207px 0 102px;
  background-color: $color-8;
  .booking-item__hidden {
    flex-direction: column;
    bottom: -106px;
  }
  .booking-item__link {
    margin-bottom: 10px;
  }
  .booking-item:hover .booking-item__content {
    transform: translateY(-106px);
  }
  .booking-item__action-title, .booking-item__action-description {
    font-size: 24px;
    line-height: 30px;
  }
  .clock {
    right: -20px;
  }
}

.program-photo {
  padding-top: 90px;
  .slick-slide {
    margin: 0 6px;
    border-radius: 10px;
  }
  .slick-arrow {
    left: 2%;
    &.icon-right {
      left: auto;
      right: 2%;
    }
  }
}

.programs-items {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
  .index-program__item {
    flex-basis: 22.4%;
    margin: 30px 1.3% 0;
  }
}

.section-link {
  width: 100%;
  height: 230px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.section-link__img {
  flex-shrink: 0;
  position: absolute;
  right: 0;
}

.section-link__paid {
  background-color: $color-3;
}

.section-link__doc {
  background-color: $color-19;
  .section-link__img {
    right: 20px;
  }
  .section-link__title {
    color: $color-7;
  }
  &:before{
    content: '';
    position: absolute;
    top: 65px;
    left: 193px;
    width: 570px;
    height: 570px;
    border-radius: 50%;
    background-color: #d5ecf2;
    opacity: .6;
    box-shadow: -5px -8px 20px $color-20;
  }
}

.section-link__title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  padding-left: 61px;
}